{% extends 'base.html' %}

{% block title %}
  Atendimento
{% endblock %}

{% block content %}
  <div class="container">
    <div class="text-center mb-4 text-white">
      <h4>ATENDIMENTO</h4>
    </div>

    <dl class="row p-3 border align-items-start" id="info-atendimento">
      <dt class="col-sm-3 border-bottom label-title">Nome do paciente:</dt>
      <dd class="col-sm-9 border-bottom">{{ agendamento.paciente.nome }}</dd>

      <dt class="col-sm-3 border-bottom label-title">Tipo de paciente:</dt>
      <dd class="col-sm-9 border-bottom">{{ agendamento.paciente.tipo_paciente }}</dd>

      <dt class="col-sm-3 border-bottom label-title">Data do Agendamento:</dt>
      <dd class="col-sm-9 border-bottom">{{ agendamento.data_agendamento|date:'d/m/Y' }}</dd>

      <dt class="col-sm-3 border-bottom label-title">Prioridade de Atendimento:</dt>
      <dd class="col-sm-9 border-bottom">
        {% if agendamento.prioridade_atendimento %}
          Sim
        {% else %}
          Não
        {% endif %}
      </dd>

      <dt class="col-sm-3 border-bottom label-title">Turno:</dt>

      <dd class="col-sm-9 border-bottom">
        {% if agendamento.turno == 'manha' %}
          Manhã
        {% elif agendamento.turno == 'tarde' %}
          Tarde
        {% else %}
          <!-- Adicione um caso padrão se necessário -->
          {{ agendamento.turno }}
        {% endif %}
      </dd>
    </dl>

    <div class="container mt-3">
      <form id="form-atend" class="ms-3" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row">
          <div class="col-md-4 mb-3">
            <h6>Anamnese</h6>
            <label for="{{ form.anamnese.id_for_label }}" class="form-label mb-3 label-title"></label>
            {{ form.anamnese }}
          </div>

          <div class="col-md-4 mb-3">
            <h6>Exame Físico</h6>
            <label for="{{ form.exame_fisico.id_for_label }}" class="form-label mb-3 label-title"></label>
            {{ form.exame_fisico }}
          </div>

          <div class="col-md-4 mb-3">
            <h6>Exames Complementares</h6>
            <label for="{{ form.exames_complementares.id_for_label }}" class="form-label mb-3 label-title"></label>
            {{ form.exames_complementares }}
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 mb-3">
            <h6>PDF Exames</h6>
            <label for="{{ form.pdf_exames.id_for_label }}" class="form-label mb-3 label-title custum-file-upload">
              <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="" viewBox="0 0 24 24">
                  <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                  <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                  <g id="SVGRepo_iconCarrier">
                    <path fill="" d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z" clip-rule="evenodd" fill-rule="evenodd"></path>
                  </g>
                </svg>
              </div>
              <div class="text">
                <span id="file-name">Clique para escolher o arquivo</span>
              </div>
            </label>
            {{ form.pdf_exames }}
          </div>

          <div class="col-md-4 mb-3">
            <h6>Diagnóstico</h6>
            <label for="{{ form.diagnostico.id_for_label }}" class="form-label mb-3 label-title"></label>
            {{ form.diagnostico }}
          </div>

          <div class="col-md-4 mb-3">
            <h6>Conduta</h6>
            <label for="{{ form.conduta.id_for_label }}" class="form-label mb-3 label-title"></label>
            {{ form.conduta }}
          </div>
        </div>

        <h6 class="d-flex justify-content-center py-3">ATESTADO MÉDICO</h6>

        <div class="atestado">
          <div id="form-atestado">
            <div class="form-group">
              <label for="dias_afastamento">Atesto que o(a) paciente <span>{{ agendamento.paciente.nome }}</span> esteve em consulta no dia <span>{{ agendamento.data_agendamento|date:'d/m/Y' }}</span>, e necessita de <span><input class="input" name="dias_afastamento" type="text" placeholder="Dias" value="{{ atestado_medico_form.dias_afastamento.value|default_if_none:'' }}" /></span> dias de afastamento de suas atividades normais, para sua convalescença.</label>
            </div>

            <div class="form-group">
              <label for="cid">CID:</label>
              <input class="input" type="text" name="cid" placeholder="CID" value="{{ atestado_medico_form.cid.value|default_if_none:'' }}" style="margin-top: 20px;" />
            </div>

            <p style="text-align: center;">Rio Branco - Acre {{ agendamento.data_agendamento|date:'d/m/Y' }}</p>

            <div class="form-group">
              <label>Profissional de Saúde:</label>
              <p>{{ agendamento.profissional_saude.nome }}</p>
            </div>
          </div>
        </div>
        <!-- Formulário de Receita Médica -->
        <h6 class="d-flex justify-content-center py-3">RECEITA MÉDICA</h6>

        <div class="receita">          
          <div class="d-flex">
            <div class="col-md-6 d-flex flex-column">
              <span class="text-center">PRESCRIÇÃO</span>
              <div class="form-group d-flex flex-column">{{ receita_medica_form.prescricao }}</div>
            </div>

            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
              <div class="form-group d-flex flex-column col-md-8">
                <label for="dosagem">Dosagem</label>
                {{ receita_medica_form.dosagem }}
              </div>
              <div class="form-group d-flex flex-column col-md-8">
                <label for="via_administrativa">Via Administrativa</label>
                {{ receita_medica_form.via_administrativa }}
              </div>
              <div class="form-group d-flex flex-column col-md-8">
                <label for="modo_uso">Modo de Uso</label>
                {{ receita_medica_form.modo_uso }}
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center align-items-center mb-3">
          <button type="submit" class="btn btn-primary">Salvar Atendimento</button>
        </div>
      </form>
    </div>

    <!-- Botão para criar Receita Médica -->
    {% comment %} <div class="text-center">
      <a href="{% url 'criar_receita_medica' agendamento_id=agendamento.id %}" class="btn btn-primary">Criar Receita Médica</a>
    </div> {% endcomment %}
  </div>

  <script>
    function updateFileName() {
      var inputFile = document.getElementById('id_pdf_exames')
      var fileNameSpan = document.getElementById('file-name')
      if (inputFile.files.length > 0) {
        fileNameSpan.textContent = inputFile.files[0].name
      } else {
        fileNameSpan.textContent = 'Clique para escolher o arquivo'
      }
    }
    
    document.getElementById('id_pdf_exames').addEventListener('change', updateFileName)
  </script>
{% endblock %}
