{% extends "base.html" %}

{% block title %}Atendimento{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="text-center mb-4 custom-title">
      <h4>Atendimento</h4>
    </div>
    
    <dl class="row border p-3 align-items-start">
      <dt class="col-sm-3 border-bottom">Nome do paciente:</dt>
      <dd class="col-sm-9 border-bottom">{{ agendamento.paciente.nome }}</dd>
      
      <dt class="col-sm-3 border-bottom">Tipo de paciente:</dt>
      <dd class="col-sm-9 border-bottom">{{ agendamento.paciente.tipo_paciente }}</dd>
      
      <dt class="col-sm-3 border-bottom">Data do Agendamento:</dt>
      <dd class="col-sm-9 border-bottom">{{ agendamento.data_agendamento|date:"d/m/Y" }}</dd>
      
      <dt class="col-sm-3 border-bottom">Prioridade de Atendimento:</dt>
      <dd class="col-sm-9 border-bottom">
          {% if agendamento.prioridade_atendimento %}
              Sim
          {% else %}
              Não
          {% endif %}
      </dd>
  
      <dt class="col-sm-3 border-bottom">Turno:</dt>
      <dd class="col-sm-9 border-bottom">
          {% if agendamento.turno == 'manha' %}
              Manhã
          {% elif agendamento.turno == 'tarde' %}
              Tarde
          {% else %}
              <!-- Adicione um caso padrão se necessário -->
              {{ agendamento.turno }}
          {% endif %}
      </dd>
  </dl>
  
    </div>


    <nav class="nav nav-pills flex-column flex-sm-row">
      <a class="flex-sm-fill text-sm-center nav-link active" href="#" id="link-anamnese">Anamnese</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#" id="link-exames">Exames</a>
      <ul class="nav flex-column ml-3">
        <li class="nav-item">
          <a class="nav-link" href="#" id="link-exame-fisico-sub">Exame Físico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="link-exames-complementares">Exames Complementares</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" id="link-pdf-exames">PDF Exames</a>
        </li>
      </ul>
      <a class="flex-sm-fill text-sm-center nav-link" href="#" id="link-diagnostico">Diagnóstico</a>
      <a class="flex-sm-fill text-sm-center nav-link" href="#" id="link-conduta">Conduta</a>
    
    </nav>
    
    <div class="container mt-3">
      <form method="post" id="form-atendimento">
        {% csrf_token %}
        <!-- Adicione campos de preenchimento para cada seção -->
        <div id="campo-anamnese">
          {{ form.anamnese }}
        </div>
        <div id="campo-exame-fisico" style="display: none;">
          {{ form.exame_fisico }}
        </div>
        <div id="campo-exames" style="display: none;">
          {{ form.exames_complementares }}
          {{ form.pdf_exames }}
        </div>
        <div id="campo-diagnostico" style="display: none;">
          {{ form.diagnostico }}
        </div>
        <div id="campo-conduta" style="display: none;">
          {{ form.conduta }}
        </div>
        <!-- Adicione outros campos conforme necessário -->
        
        <button type="button" class="btn btn-primary mt-3" onclick="salvarFormulario()">Finalizar Atendimento</button>
      </form>
    </div>
   
    
{% endblock %}
