{% extends "base.html" %}

{% block title %}Cadastro de Pacientes{% endblock %}

{% block content %}
{% if messages %}
    {% include 'messages.html' %}
{% endif %}
<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header mb-4">
                    <h4 class="text-center m-3 card-title">Cadastro de Pacientes</h4>
                </div>
                <form action="" method="POST" class="mb-4">
                    {% csrf_token %}
                    <div class="col-md-10 offset-md-1">
                        <div class=" m-2 jumbotron">
                            <div class=" m-2">
                                <div class="mb-3 row">
                                    <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                                    <div class="col-sm-4">
                                        {{ form.nome }}
                                    </div>
                                    <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-2 col-form-label"><b>Data de Nascimento</b></label>
                                    <div class="col-sm-4">
                                        {% with form.data_nascimento as field %}
                                                {% include 'field.html' %}{% endwith %}
                                        
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label"><b>E-mail</b></label>
                                    <div class="col-sm-4">
                                        {% with form.email as field %} {% include 'field.html' %} {% endwith %}
                                    </div>
                                    <label for="{{ form.rg.id_for_label }}" class="col-sm-2 col-form-label"><b>RG</b></label>
                                    <div class="col-sm-4">
                                        {{ form.rg }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.cpf.id_for_label }}" class="col-sm-2 col-form-label"><b>CPF</b></label>
                                    <div class="col-sm-4">
                                         {% with form.cpf as field %} 
                                            {% include 'field.html' %}
                                        {% endwith %}
                                    </div>
                                    <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label"><b>Sexo</b></label>
                                    <div class="col-sm-4">
                                        {{ form.sexo }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.matricula.id_for_label }}" class="col-sm-2 col-form-label"><b>Matrícula/Siape</b></label>
                                    <div class="col-sm-4">
                                        {{ form.matricula }}
                                    </div>
                                    <label for="{{ form.tipo_paciente.id_for_label }}" class="col-sm-2 col-form-label"><b>Tipo de Paciente</b></label>
                                    <div class="col-sm-4">
                                        {{ form.tipo_paciente }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.cargo_funcao.id_for_label }}" class="col-sm-2 col-form-label"><b>Cargo/Função</b></label>
                                    <div class="col-sm-4">
                                        {{ form.cargo_funcao }}
                                    </div>
                                    <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                                    <div class="col-sm-4">
                                        {{ form.cep }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                                    <div class="col-sm-4">
                                        {{ form.cidade }}
                                    </div>
                                    <label for="{{ form.bairro.id_for_label }}" class="col-sm-2 col-form-label"><b>Bairro</b></label>
                                    <div class="col-sm-4">
                                        {{ form.bairro }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                                    <div class="col-sm-4">
                                        {{ form.uf }}
                                    </div>
                                    <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                                    <div class="col-sm-4">
                                        {{ form.numero }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                                    <div class="col-sm-4">
                                        {{ form.ddd_telefone }}
                                    </div>
                                    <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                                    <div class="col-sm-4">
                                        {{ form.complemento }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.orgao.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.orgao.label }}</label>
                                    <div class="col-sm-4">
                                        {{ form.orgao }}
                                    </div>
                                    <label for="{{ form.lotacao_de_exercicio.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.lotacao_de_exercicio.label }}</label>
                                    <div class="col-sm-4">
                                        {{ form.lotacao_de_exercicio }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="{{ form.matricula_siape.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.matricula_siape.label }}</label>
                                    <div class="col-sm-4">
                                        {{ form.matricula_siape }}
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-sm-2"></div>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                        <a class="btn btn-primary ms-2" href="{% url 'pacienteListagem' %}">Voltar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
