{% extends "base.html" %}

{% block title %}Cadastro de Pacientes{% endblock %}

{% block content %}
  <h4 class="text-center mb-4">Cadastro de Pacientes</h4>
  <form action="" method="POST" class="border p-3">
      {% csrf_token %}
      <div class="mb-3 row">
          <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label">Nome</label>
          <div class="col-sm-4">
              {{ form.nome }}
          </div>
          <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-2 col-form-label">Data de Nascimento</label>
          <div class="col-sm-4">
              {{ form.data_nascimento }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">E-mail</label>
          <div class="col-sm-4">
              {{ form.email }}
          </div>
          <label for="{{ form.rg.id_for_label }}" class="col-sm-2 col-form-label">RG</label>
          <div class="col-sm-4">
              {{ form.rg }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.cpf.id_for_label }}" class="col-sm-2 col-form-label">CPF</label>
          <div class="col-sm-4">
              {{ form.cpf }}
          </div>
          <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label">Sexo</label>
          <div class="col-sm-4">
              {{ form.sexo }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.matricula.id_for_label }}" class="col-sm-2 col-form-label">Matrícula/Siape</label>
          <div class="col-sm-4">
              {{ form.matricula }}
          </div>
          <label for="{{ form.tipo_paciente.id_for_label }}" class="col-sm-2 col-form-label">Tipo de Paciente</label>
          <div class="col-sm-4">
              {{ form.tipo_paciente }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.cargo_funcao.id_for_label }}" class="col-sm-2 col-form-label">Cargo/Função</label>
          <div class="col-sm-4">
              {{ form.cargo_funcao }}
          </div>
          <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label">CEP</label>
          <div class="col-sm-4">
              {{ form.cep }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label">Cidade</label>
          <div class="col-sm-4">
              {{ form.cidade }}
          </div>
          <label for="{{ form.bairro.id_for_label }}" class="col-sm-2 col-form-label">Bairro</label>
          <div class="col-sm-4">
              {{ form.bairro }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label">UF</label>
          <div class="col-sm-4">
              {{ form.uf }}
          </div>
          <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label">Número</label>
          <div class="col-sm-4">
              {{ form.numero }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label">Telefone</label>
          <div class="col-sm-4">
              {{ form.ddd_telefone }}
          </div>
          <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label">Complemento</label>
          <div class="col-sm-4">
              {{ form.complemento }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.orgao.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.orgao.label }}</label>
          <div class="col-sm-4">
              {{ form.orgao }}
          </div>
          <label for="{{ form.lotacao_de_exercicio.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.lotacao_de_exercicio.label }}</label>
          <div class="col-sm-4">
              {{ form.lotacao_de_exercicio }}
          </div>
      </div>
      <div class="mb-3 row">
          <label for="{{ form.matricula_siape.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.matricula_siape.label }}</label>
          <div class="col-sm-4">
              {{ form.matricula_siape }}
          </div>
      </div>

      <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            <a class="btn btn btn-primary ms-2" href="{% url 'pacienteListagem' %}">Voltar</a>
        </div>
      </div>

  </form>
{% endblock %}
