{% extends 'base.html' %}

{% block title %}
  Cadastro Administrativo
{% endblock %}

{% block content %}
  {% if messages %}
    {% include 'messages.html' %}
  {% endif %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="">
          <div class=" mb-4">
            <h4 class="text-center m-3 text-white">CADASTRO ADMINISTRATIVO</h4>
          </div>

          <form action="" method="POST" class="mb-4 pt-4" id="glass">
            <div class="col-md-10 offset-md-1">
              {% csrf_token %}
              <div class="m-2">
                <div class="m-2">
                  <div class="mb-3 row">
                    <div class="col-sm-12" id="pessoais">
                      <div class="col mb-3">
                        <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                        <div class="col-sm-12">{{ form.nome }}</div>
                      </div>

                      <div class="col mb-3">
                        <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label"><b>E-mail</b></label>
                        <div class="col-sm-12">
                          {% with field=form.email %}
                            {% include 'field.html' %}
                          {% endwith %}
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <label for="{{ form.cpf.id_for_label }}" class="col-sm-2 col-form-label"><b>CPF</b></label>
                          <div class="col-sm-12">
                            {% with field=form.cpf %}
                              {% include 'field.html' %}
                            {% endwith %}
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <label for="{{ form.rg.id_for_label }}" class="col-sm-2 col-form-label"><b>RG</b></label>
                          <div class="col-sm-12">{{ form.rg }}</div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-6 col-form-label"><b>Data de Nascimento</b></label>
                          <div class="col-sm-12">
                            {% with field=form.data_nascimento %}
                              {% include 'field.html' %}
                            {% endwith %}
                          </div>
                        </div>

                        <div class="col-sm-6">
                          <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label"><b>Sexo</b></label>
                          <div class="col-sm-12">{{ form.sexo }}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12" id="endereco">
                      <div class="col mb-3">
                        <label for="{{ form.bairro.id_for_label }}" class="col-sm-2 col-form-label"><b>Bairro e Rua</b></label>
                        <div class="col-sm-12">{{ form.bairro }}</div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                          <div class="col-sm-12">{{ form.numero }}</div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                          <div class="col-sm-12">{{ form.cidade }}</div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                          <div class="col-sm-12">{{ form.uf }}</div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                          <div class="col-sm-12">{{ form.cep }}</div>
                        </div>
                      </div>

                      <div class="col mb-3">
                        <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                        <div class="col-sm-12">{{ form.ddd_telefone }}</div>
                      </div>

                      <div class="col mb-3">
                        <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                        <div class="col-sm-12">{{ form.complemento }}</div>
                      </div>
                    </div>

                    <div class="col-sm-12" id="cargo">
                      <div class="mb-3 row">
                        <label for="{{ form.cargo_funcao.id_for_label }}" class="col-sm-2 col-form-label"><b>Cargo/Função</b></label>
                        <div class="col-sm-12">{{ form.cargo_funcao }}</div>
                      </div>

                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <label for="{{ form.lotacao_de_exercicio.id_for_label }}" class="col-sm-12 col-form-label"><b>Lotação de Exercício</b></label>
                          <div class="col-sm-12">{{ form.lotacao_de_exercicio }}</div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.matricula_siape.id_for_label }}" class="col-sm-12 col-form-label"><b>Matricula Siape</b></label>
                          <div class="col-sm-12">{{ form.matricula_siape }}</div>
                        </div>
                      </div>
                    </div>

                    <div class="mb-3 row">
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary"><b>Cadastrar</b></button>
                        <a class="btn btn-secondary" href="{% url 'administrativoListagem' %}" style="line-height: 2; margin-bottom: 2px"><b>Voltar</b></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    const q = (e) => document.querySelector(e)
    const qA = (e) => document.querySelectorAll(e)
    q('body').onload = () => {
      const itensModificar = ["input[type='text']", "input[type='email']", 'select', "input[type='file']"]
      itensModificar.forEach((seletor, index) => {
        let itens = qA(seletor)
        itens.forEach((item, index) => {
          item.classList.add('form-control')
        })
      })
    }
  </script>

{% endblock %}
