{# Código Raquel #}

{% extends 'base.html' %}

{% block title %}
  Cadastrar Profissional da Saúde
{% endblock %}

{% block content %}
  {% if messages %}
    {% include 'messages.html' %}
  {% endif %}

  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="">
          <div class="mb-4">
            <h4 class="text-center mb-3 text-white">CADASTRAR PROFFISIONAL DE SAÚDE</h4>
          </div>

          <form action="" method="POST" class="mb-4 pt-4" id="glass">
            <div class="col-md-10 offset-md-1">
              {% csrf_token %}

              <div class="col-sm-12" id="pessoais">
                <div class="col mb-3">
                  <label for="{{ formps.nome.id.label_tag }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                  <div class="col-sm-12">{{ formps.nome }}</div>
                </div>

                <div class="col mb-3">
                  <label for="{{ formps.email.id_for_label }}" class="col-sm-2 col-form-label"><b>E-mail</b></label>
                  <div class="col-sm-12">{{ formps.email }}</div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label for="{{ formps.cpf.id_for_label }}" class="col-sm-2 col-form-label"><b>CPF</b></label>
                    <div class="col-sm-12">
                      {% with field=formps.cpf %}
                        {% include 'field.html' %}
                      {% endwith %}
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="{{ formps.rg.id_for_label }}" class="col-sm-2 col-form-label"><b>RG</b></label>
                    <div class="col-sm-12">{{ formps.rg }}</div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-sm-6">
                    <label for="{{ formps.data_nascimento.id_for_label }}" class="col-sm-8 col-form-label"><b>Data de Nascimento</b></label>
                    <div class="col-sm-12">
                      {% with field=formps.data_nascimento %}
                        {% include 'field.html' %}
                      {% endwith %}
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <label for="{{ formps.sexo.id_for_label }}" class="col-sm-8 col-form-label"><b>Sexo</b></label>
                    <div class="col-sm-12">{{ formps.sexo }}</div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12" id="endereco">
                <div class="col">
                  <label for="{{ formps.bairro.id_for_label }}" class="col-sm-2 col-form-label"><b>Bairro e Rua</b></label>
                  <div class="col-sm-12">{{ formps.bairro }}</div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label for="{{ formps.numero.id_for_label }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                    <div class="col-sm-12">{{ formps.numero }}</div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="{{ formps.cidade.id_for_label }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                    <div class="col-sm-12">{{ formps.cidade }}</div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <label for="{{ formps.uf.id_for_label }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                    <div class="col-sm-12">{{ formps.uf }}</div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <label for="{{ formps.cep.id_for_label }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                    <div class="col-sm-12">
                      {% with field=formps.cep %}
                        {% include 'field.html' %}
                      {% endwith %}
                    </div>
                  </div>
                </div>

                <div class="col mb-3">
                  <label for="{{ formps.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                  <div class="col-sm-12">{{ formps.ddd_telefone }}</div>

                  <label for="{{ formps.complemento.id_for_label }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                  <div class="col-sm-12">{{ formps.complemento }}</div>
                </div>
              </div>

              <div class="col-sm-12" id="cargo">
                <div class="mb-3 row">
                  <div class="col-sm-6">
                    <label for="{{ formps.identificacao_unica.id_for_label }}" class="col-sm-2 col-form-label"><b>Siape</b></label>
                    <div class="col-sm-12">{{ formps.identificacao_unica }}</div>
                  </div>
                  <div class="col-sm-6">
                    <label for="{{ formps.area.id_for_label }}" class="col-sm-2 col-form-label"><b>Área</b></label>
                    <div class="col-sm-12">{{ formps.area }}</div>
                  </div>
                </div>

                <div class="mb-3 row">
                  <div class="col-sm-6">
                    <label for="{{ formps.unidade_siass.id_for_label }}" class="col-sm-12 col-form-label"><b>Unidade SIASS</b></label>
                    <div class="col-sm-12">{{ formps.unidade_siass }}</div>
                  </div>
                  <div class="col-sm-6">
                    <label for="{{ formps.formacao.id_for_label }}" class="col-sm-12 col-form-label"><b>Formação</b></label>
                    <div class="col-sm-12">{{ formps.formacao }}</div>
                  </div>
                </div>

                <div class="mb-3 row">
                  <div class="col-sm-6">
                    <label for="{{ formps.conselho.id_for_label }}" class="col-sm-12 col-form-label"><b>Conselho</b></label>
                    <div class="col-sm-12">{{ formps.conselho }}</div>
                  </div>
                  <div class="col-sm-6">
                    <label for="{{ formps.registro.id_for_label }}" class="col-sm-12 col-form-label"><b>Registro</b></label>
                    <div class="col-sm-12">{{ formps.registro }}</div>
                  </div>
                </div>
              </div>

              <br />

              <div class="mb-3 text-center">
                <button type="submit" style="margin-bottom: 2px" class="btn btn-primary"><b>Cadastrar</b></button>
                <a class="btn btn-secondary" href="{% url 'profissionaldasaudeListagem' %}" style="line-height: 2;
                                       margin-bottom: 2px"><b>Cancelar</b></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <style>
    #pessoais,
    #endereco,
    #cargo {
      background-color: #f5f5f5;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 9px;
      margin-bottom: 30px;
      box-shadow: 9px 9px 20px -15px rgb(0, 0, 0);
    }
    
    #col-labels {
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}

{# CÓDIGO STHEFANY #}

{# {% extends "base.html" %} #}
{#  #}
{# {% block title %}Cadastrar Profissional da Saúde{% endblock %} #}
{#  #}
{# {% block content %} #}
{#  #}
{# {% if messages %} {% include 'messages.html' %} {% endif %} #}
{#  #}
{# <h4 class="text-center mb-4">Cadastrar Profissional da Saúde</h4> #}
{# <form action="" method="POST" class="border p-3 form-control"> #}
{# {% csrf_token %} #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label">Nome</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.nome }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-2 col-form-label">Data de Nascimento</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.data_nascimento }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label">E-mail</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.email }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.rg.id_for_label }}" class="col-sm-2 col-form-label">RG</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.rg }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.cpf.id_for_label }}" class="col-sm-2 col-form-label">CPF</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.cpf }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label">Sexo</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.sexo }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.identificacao_unica.id_for_label }}" class="col-sm-2 col-form-label">Identificação Única</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.identificacao_unica }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label">CEP</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.cep }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label">Cidade</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.cidade }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.bairro.id_for_label }}" class="col-sm-2 col-form-label">Bairro</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.bairro }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label">UF</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.uf }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label">Número</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.numero }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label">Telefone</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.ddd_telefone }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label">Complemento</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.complemento }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.area.id_for_label }}" class="col-sm-2 col-form-label">Área</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.area }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.unidade_siass.id_for_label }}" class="col-sm-2 col-form-label">Unidade SIASS</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.unidade_siass }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.formacao.id_for_label }}" class="col-sm-2 col-form-label">Formação</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.formacao }} #}
{# </div> #}
{#  #}
{# <label for="{{ form.conselho.id_for_label }}" class="col-sm-2 col-form-label">Conselho</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.conselho }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <label for="{{ form.registro.id_for_label }}" class="col-sm-2 col-form-label">Registro</label> #}
{# <div class="col-sm-4"> #}
{# {{ form.registro }} #}
{# </div> #}
{# </div> #}
{#  #}
{# <div class="mb-3 row"> #}
{# <div class="col-sm-2"></div> #}
{# <div class="col-sm-10"> #}
{# <button type="submit" class="btn btn-primary">Cadastrar</button> #}
{# <a class="btn btn-primary ms-2" href="{% url 'profissionaldasaudeListagem' %}">Voltar</a> #}
{# </div> #}
{# </div> #}
{# </form> #}
{# {% endblock %} #}
