<!-- consulta/templates/consulta/cancelar_agendamento.html -->

{% extends "base.html" %}

{% block title %}Cancelar Agendamento{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h2>Cancelar Agendamento</h2>

    <form method="post" action="{% url 'cancelar_agendamento' agendamento.id %}">
      {% csrf_token %}
      {{ form.as_p }}

      <div class="form-group mt-3">
        <button type="submit" class="btn btn-danger">Confirmar cancelamento</button>
      </div>
    </form>
  </div>
{% endblock %}
