<!-- templates/agendamento_pdf_template.html -->
<html>
<head>
    <title>Comprovante de Agendamento</title>
</head>
<body>
    <h1>Comprovante de Agendamento</h1>
    <p><strong>Paciente:</strong> {{ agendamento.paciente.nome }}</p>
    <p><strong>Profissional de Saúde:</strong> {{ agendamento.profissional_saude.nome }}</p>
    <p><strong>Data do Agendamento:</strong> {{ agendamento.data_agendamento|date:"d/m/Y " }}</p>
    <p><strong>Turno:</strong> {{ agendamento.get_turno_display }}</p>
    <p><strong>Prioridade de Atendimento:</strong>
        {% if agendamento.prioridade_atendimento %}
            Sim
        {% else %}
            Não
        {% endif %}
    </p>
</body>
</html>
