{% extends 'base.html' %}

{% load static %}

{% block title %}
  Lista de Atendimentos
{% endblock %}

{% block content %}

{% load tz %}
  <div class="container mt-5">
    <div class="text-center mb-4 custom-title">
      <h4>Atestado Medico de {{ paciente.nome }}</h4>
    </div>
  </div>

  <form action="">
    <label for="">atesto que o paciente <span>{{ paciente.nome }}</span> necessita de</label>
    <input type="text" />
    <p>dias de afastamento de suas atividades normais, a partir desta data, por motivo de doença</p>

    <label for="">CID:</label>
    <input type="text" />

    <p>Rio Branco - ACRE {% now "d/m/Y" %}</p>

    

    <img src="" alt="assinatura do medico" />
  </form>
{% endblock %}
