{% extends 'base.html' %}

{% block title %}
  Editar Profissional de Saúde
{% endblock %}

{% block content %}
  {# <h4>Editar Profissional de Saúde</h4> #}

  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header mb-4">
          <h4 class="text-center m-3 card-title">Editar Profissional de Saúde</h4>
        </div>
        <div class="col-md-10 offset-md-1 mb-2">
          <div class="m-2">
            <form action="{% url 'profissionaldasaudeEditar' profissionaldasaude.id %}" method="POST">
              {% csrf_token %}

              <div class="m-4">
                <div class="col-sm-12" id="pessoais">
                  
                  <div class="col mb-3">
                    <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                    <div class="col-sm-12 form-control">{{ form.nome }}</div>
                  </div>

                  <div class="col mb-3">
                    <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label"><b>Email</b></label>
                    <div class="col-sm-12">{{ form.email }}</div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <label for="{{ form.cpf.id_for_label }}" class="col-sm-3 col-form-label"><b>CPF</b></label>
                      <div class="col-sm-12">
                        {% with field=form.cpf %}
                          {% include 'field.html' %}
                        {% endwith %}
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <label for="{{ form.rg.id_for_label }}" class="col-sm-3 col-form-label"><b>RG</b></label>
                      <div class="col-sm-12">{{ form.rg }}</div>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <div class="col-sm-6">
                      <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-12 col-form-label"><b>Data de Nascimento</b></label>
                      <div class="col-sm-12">
                        {% with field=form.data_nascimento %}
                          {% include 'field.html' %}
                        {% endwith %}
                      </div>
                    </div>

                    <div class="col-sm-6">
                      <label for="{{ form.sexo.id_for_label }}" class="col-sm-3 col-form-label"><b>Sexo</b></label>
                      <div class="col-sm-12">{{ form.sexo }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12" id="endereco">
                  <div class="col">
                    <label for="{{ form.bairro.id_for_label }}" class="col-sm-3 col-form-label"><b>Bairro e Rua</b></label>
                    <div class="col-sm-12">{{ form.bairro }}</div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                      <div class="col-sm-12">{{ form.numero }}</div>
                    </div>
                    <div class="col-sm-6 mb-3">
                      <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                      <div class="col-sm-12">{{ form.cidade }}</div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-6">
                      <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                      <div class="col-sm-12">{{ form.uf }}</div>
                    </div>
                    <div class="col-sm-6 mb-3">
                      <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                      <div class="col-sm-12">
                        {% with field=form.cep %}
                          {% include 'field.html' %}
                        {% endwith %}
                      </div>
                    </div>
                  </div>

                  <div class="col mb-3">
                    <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                    <div class="col-sm-12">{{ form.ddd_telefone }}</div>

                    <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                    <div class="col-sm-12">{{ form.complemento }}</div>
                  </div>
                </div>

                <div class="col-sm-12" id="cargo">
                  <div class="mb-3 row">
                    <div class="col-sm-6">
                      <label for="{{ form.identificacao_unica.id_for_label }}" class="col-sm-2 col-form-label"><b>Siape</b></label>
                      <div class="col-sm-12">{{ form.identificacao_unica }}</div>
                    </div>
                    <div class="col-sm-6">
                      <label for="{{ form.area.id_for_label }}" class="col-sm-2 col-form-label"><b>Área</b></label>
                      <div class="col-sm-12">{{ form.area }}</div>
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-6">
                      <label for="{{ form.unidade_siass.id_for_label }}" class="col-sm-12 col-form-label"><b>Unidade SIASS</b></label>
                      <div class="col-sm-12">{{ form.unidade_siass }}</div>
                    </div>
                    <div class="col-sm-6">
                      <label for="{{ form.formacao.id_for_label }}" class="col-sm-12 col-form-label"><b>Formação</b></label>
                      <div class="col-sm-12">{{ form.formacao }}</div>
                    </div>
                  </div>

                  <div class="mb-3 row">
                    <div class="col-sm-6">
                      <label for="{{ form.conselho.id_for_label }}" class="col-sm-12 col-form-label"><b>Conselho</b></label>
                      <div class="col-sm-12">{{ form.conselho }}</div>
                    </div>
                    <div class="col-sm-6">
                      <label for="{{ form.registro.id_for_label }}" class="col-sm-12 col-form-label"><b>Registro</b></label>
                      <div class="col-sm-12">{{ form.registro }}</div>
                    </div>
                  </div>
                </div>
                <br /><br />

                <div class="text-center">
                  <button type="submit" style="margin-bottom: 2px" class="btn btn-primary"><b>Salvar Alterações</b></button>
                  <a href="{% url 'profissionaldasaudeListagem' %}" class="btn btn-secondary" style="line-height: 2; margin-bottom: 2px"><b>Cancelar</b></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    #pessoais,
    #endereco,
    #cargo {
      background-color: #f5f5f5;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 9px;
      margin-bottom: 30px;
      box-shadow: 9px 9px 20px -15px rgb(0, 0, 0);
    }
    
    #col-labels {
      display: flex;
      flex-direction: column;
    }
  </style>
{% endblock %}

{% comment %} <div class="mb-3 row">
  <label for="{{ form.nome.id_for_label }}" class="col-sm-3 col-form-label"><b>Nome</b></label>
  <div class="col-sm-9">{{ form.nome }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-3 col-form-label"><b>Data de Nascimento</b></label>
  <div class="col-sm-9">
    {% with field=form.data_nascimento %}
      {% include 'field.html' %}
    {% endwith %}
  </div>
</div>

<div class="mb-3 row">
  <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label"><b>Email</b></label>
  <div class="col-sm-9">{{ form.email }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.rg.id_for_label }}" class="col-sm-3 col-form-label"><b>RG</b></label>
  <div class="col-sm-9">{{ form.rg }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.cpf.id_for_label }}" class="col-sm-3 col-form-label"><b>CPF</b></label>
  <div class="col-sm-9">
    {% with field=form.cpf %}
      {% include 'field.html' %}
    {% endwith %}
  </div>
</div>

<div class="mb-3 row">
  <label for="{{ form.sexo.id_for_label }}" class="col-sm-3 col-form-label"><b>Sexo</b></label>
  <div class="col-sm-9">{{ form.sexo }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.identificacao_unica.id_for_label }}" class="col-sm-3 col-form-label"><b>Identificação Única</b></label>
  <div class="col-sm-9">{{ form.identificacao_unica }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.cep.id_for_label }}" class="col-sm-3 col-form-label"><b>CEP</b></label>
  <div class="col-sm-9">{{ form.cep }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.cidade.id_for_label }}" class="col-sm-3 col-form-label"><b>Cidade</b></label>
  <div class="col-sm-9">{{ form.cidade }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.bairro.id_for_label }}" class="col-sm-3 col-form-label"><b>Bairro</b></label>
  <div class="col-sm-9">{{ form.bairro }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.uf.id_for_label }}" class="col-sm-3 col-form-label"><b>UF</b></label>
  <div class="col-sm-9">{{ form.uf }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.numero.id_for_label }}" class="col-sm-3 col-form-label"><b>Número</b></label>
  <div class="col-sm-9">{{ form.numero }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-3 col-form-label"><b>Telefone</b></label>
  <div class="col-sm-9">
    {{ form.ddd_telefone }}
    {% if form.ddd_telefone.help_text %}
      <p>
        <i>*</i>{{ form.ddd_telefone.help_text }}
      </p>
    {% endif %}
  </div>
</div>

<div class="mb-3 row">
  <label for="{{ form.complemento.id_for_label }}" class="col-sm-3 col-form-label"><b>Complemento</b></label>
  <div class="col-sm-9">{{ form.complemento }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.area.id_for_label }}" class="col-sm-3 col-form-label"><b>Área</b></label>
  <div class="col-sm-9">{{ form.area }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.unidade_siass.id_for_label }}" class="col-sm-3 col-form-label"><b>Unidade Siass</b></label>
  <div class="col-sm-9">{{ form.unidade_siass }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.formacao.id_for_label }}" class="col-sm-3 col-form-label"><b>Formação</b></label>
  <div class="col-sm-9">{{ form.formacao }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.conselho.id_for_label }}" class="col-sm-3 col-form-label"><b>Conselho</b></label>
  <div class="col-sm-9">{{ form.conselho }}</div>
</div>

<div class="mb-3 row">
  <label for="{{ form.registro.id_for_label }}" class="col-sm-3 col-form-label"><b>Registro</b></label>
  <div class="col-sm-9">{{ form.registro }}</div>
</div> {% endcomment %}
