{% extends "base.html" %}

{% block title %}Agendamento de Pacientes{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-primary">
                    <div class="card-header" style="border-bottom: 1px solid #0d6efd;">
                        <h4 class="card-titler text-center  mb-3">Agendamento  Pacientes</h4>
                    </div>
                    <div class="card-body">
                        <form action="{% url 'agendamentoCreate' %}" method="POST" class="form-control  border p-3">

                            {% csrf_token %}

                            <!-- Adicione o campo status_atendimento como um campo oculto -->
                            <input type="hidden" name="status_atendimento" value="pendente">
                            <div class="mb-3 row">
                                <label for="{{ form.paciente.id_for_label }}"
                                       class="col-sm-2 col-form-label">Paciente</label>
                                <div class="col-sm-10">
                                    {{ form.paciente }}
                                    <div class="invalid-feedback">
                                        Por favor, selecione um paciente.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="{{ form.profissional_saude.id_for_label }}" class="col-sm-2 col-form-label">Profissional
                                    de Saúde</label>
                                <div class="col-sm-10">
                                    {{ form.profissional_saude }}
                                    <div class="invalid-feedback">
                                        Por favor, Profissional de Saúde.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="{{ form.data_agendamento.id_for_label }}" class="col-sm-2 col-form-label">Data
                                    da
                                    consulta</label>
                                <div class="col-sm-10">
                                    {{ form.data_agendamento }}
                                    <div class="invalid-feedback">
                                        Por favor, forneça uma data de agendamento válida.
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="{{ form.turno.id_for_label }}" class="col-sm-2 col-form-label">Turno</label>
                                <div class="col-sm-10">
                                    {{ form.turno }}
                                    <div class="invalid-feedback">
                                        Por favor, selecione um turno.
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 row form-check">
                                <div class="col-sm-10 offset-sm-2">
                                    {{ form.prioridade_atendimento }}
                                    <label class="form-check-label"
                                           for="{{ form.prioridade_atendimento.id_for_label }}">Prioridade
                                        de Atendimento</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Agendar</button>
                                    <a class="btn btn-primary ms-2" href="{% url 'agendamentoListagem' %}">Voltar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




{#{% extends "base.html" %}#}
{##}
{#{% block title %}Agendamento de Pacientes{% endblock %}#}
{##}
{#{% block content %}#}
{#  <h4>Agendamento de Pacientes</h4>#}
{#  <form action="{% url 'agendamentoCreate' %}" method="POST" class="needs-validation border p-3">#}
{#      {% csrf_token %}#}
{#      <!-- Adicione o campo status_atendimento como um campo oculto -->#}
{#      <input type="hidden" name="status_atendimento" value="pendente">#}
{#      <div class="mb-3 row">#}
{#          <label for="{{ form.paciente.id_for_label }}" class="col-sm-2 col-form-label">Paciente</label>#}
{#          <div class="col-sm-10">#}
{#              {{ form.paciente }}#}
{#              <div class="invalid-feedback">#}
{#                  Por favor, selecione um paciente.#}
{#              </div>#}
{#          </div>#}
{#      </div>#}
{#      <div class="mb-3 row">#}
{#          <label for="{{ form.profissional_saude.id_for_label }}" class="col-sm-2 col-form-label">Profissional de Saúde</label>#}
{#          <div class="col-sm-10">#}
{#              {{ form.profissional_saude }}#}
{#              <div class="invalid-feedback">#}
{#                  Por favor, Profissional de Saúde.#}
{#              </div>#}
{#          </div>#}
{#      </div>#}
{#      <div class="mb-3 row">#}
{#          <label for="{{ form.data_agendamento.id_for_label }}" class="col-sm-2 col-form-label">Data do Agendamento</label>#}
{#          <div class="col-sm-10">#}
{#              {{ form.data_agendamento }}#}
{#              <div class="invalid-feedback">#}
{#                  Por favor, forneça uma data de agendamento válida.#}
{#              </div>#}
{#          </div>#}
{#      </div>#}
{#      <div class="mb-3 row">#}
{#        <label for="{{ form.turno.id_for_label }}" class="col-sm-2 col-form-label">Turno</label>#}
{#        <div class="col-sm-10">#}
{#            {{ form.turno }}#}
{#            <div class="invalid-feedback">#}
{#                Por favor, selecione um turno.#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#      <div class="mb-3 row form-check">#}
{#          <div class="col-sm-10 offset-sm-2">#}
{#              {{ form.prioridade_atendimento }}#}
{#              <label class="form-check-label" for="{{ form.prioridade_atendimento.id_for_label }}">Prioridade de Atendimento</label>#}
{#          </div>#}
{#      </div>#}
{#      <div class="row">#}
{#          <div class="col-sm-2"></div>#}
{#          <div class="col-sm-10">#}
{#              <button type="submit" class="btn btn-primary">Agendar</button>#}
{#              <a class="btn btn-primary ms-2" href="{% url 'agendamentoListagem' %}">Voltar</a>#}
{#          </div>#}
{#      </div>#}
{#  </form>#}
{# #}
{#{% endblock %}#}
