{% extends 'base.html' %}

{% load static %}

{% block title %}
  Lista de Atendimentos
{% endblock %}

{% block content %}
  <div class="container">
  
   <div class="d-flex mt-4" style="justify-content: left">
      <a href="{% url 'agendamentoListagem' %}" class="btn btn-primary">
          Ir para Agendamentos&nbsp;&nbsp;<i class="fa fa-external-link"></i>
      </a>
    </div>
  
    <div class="text-center mb-4 text-black">
      <h4>LISTA DE ATENDIMENTOS</h4>
    </div>

    <div id="glass">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pesquisar atendimento..." id="searchInput" />
      </div>

      <ul class="list-group custom-list">
        {% for atendimento in atendimentos %}
          <li class="list-group-item">
            <a href="javascript:void(0);" onclick="verificarPermissao('{% url 'visualizarAtendimento' atendimento.id %}')" class="atendimento-link">
              {{ atendimento.agendamento.paciente.get_display_name}}
              {% if atendimento.profissional_saude %}
                <span class="profissional-text">- Dr(a): {{ atendimento.profissional_saude.get_display_name }}</span>
                <span class="atend-data">{{ atendimento.agendamento.data_agendamento|date:'d/m/Y ' }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Modal de Restrição de Acesso -->
  <div class="modal fade" id="restricaoModal" tabindex="-1" aria-labelledby="restricaoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="restricaoModalLabel" style="margin-left: 34.5%;">Acesso Restrito</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="text-align: center;">
          <div style="display: flex; justify-content: center;">
            <img id="cadeado" src="{% static 'imagens/cadeado.png' %}" alt="" style="width: 50px; height: auto;" />
          </div>

          <p>Desculpe, mas você não tem permissão para acessar esta funcionalidade. Por favor, entre em contato com o administrador do sistema para obter mais informações.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
      function verificarPermissao(url) {
          // Faz uma solicitação AJAX para verificar a permissão
          fetch(url, {
              method: 'GET',
              headers: {
                  'X-Requested-With': 'XMLHttpRequest'  // Cabeçalho necessário para a verificação AJAX
              }
          })
          .then(response => {
              if (response.status === 403) {
                  // Se a resposta é 403 (proibido), exibe o modal de restrição
                  var restricaoModal = new bootstrap.Modal(document.getElementById('restricaoModal'));
                  restricaoModal.show();
              } else {
                  // Se o usuário tem permissão, redireciona para a URL
                  window.location.href = url;
              }
          })
          .catch(error => console.error('Erro ao verificar permissão:', error));
      }
  </script>
  

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // Ao digitar no campo de pesquisa
      $('#searchInput').on('keyup', function () {
        var searchText = $(this).val().toLowerCase()
    
        // Filtrar os itens da lista
        $('.list-group-item').each(function () {
          var itemText = $(this).text().toLowerCase()
          if (itemText.indexOf(searchText) !== -1) {
            $(this).show()
          } else {
            $(this).hide()
          }
        })
      })
    })
  </script>
{% endblock %}
