<!-- listar_pacientes.html -->
{% extends 'base.html' %}

{% block title %}
  Lista de Pacientes
{% endblock %}

{% block content %}
  {# Verifica se há message na views e mostra caso true #}
  {% if messages %}{% include 'messages.html' %}{% endif %}
  <h4 class="text-center mb-4 custom-title">Lista de Pacientes</h4>

  <div class="d-flex justify-content-between pb-3">
    <a class="btn btn-primary" href="{% url 'home' %}">Voltar</a>
    <a href="#" class="btn btn-primary btn-expand-all">Expandir todos</a>
    <a class="btn btn-primary" href="{% url 'pacienteCreate' %}">Cadastrar</a>
  </div>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Pesquisar paciente..." id="searchInput" />
  </div>

  <table class="table table-bordered table-sm" id="border-none">
    <thead>
      <tr>
        <th colspan="7" style="text-align: center;">Nome</th>
      </tr>
    </thead>
    <tbody class="collapse-table" style="display: ;">
      {% for paciente in pacientes %}
        <tr data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
          <td class="paciente-nome" colspan="3">
            {{ paciente.nome }}
            <span style="color: #bbbbbb">- {{ paciente.get_sexo_display }}</span>
            <span style="display: none;">{{ paciente.data_nascimento|date:'d/m/Y' }}-{{ paciente.email }}-{{ paciente.rg }}-{{ paciente.cpf }}-{{ paciente.tipo_paciente }}-{{ paciente.matricula }}</span>
            <a href="#" aria-expanded="false" class="accordion-toggle"></a>
            <a href="{% url 'prontuario_medico' paciente.id %}" class="btn btn-primary btn-prontuario" style="display: block; float: right; margin-right: 20px;">Prontuário</a>

            </td>
        </tr>
        <tr>
          <td colspan="3" style="border: transparent;">
            <div class="collapse" id="collapse{{ forloop.counter }}">
              <div class="card card-body" id="card-body">
                <div class="info-block">
                  <p>Data de Nascimento: {{ paciente.data_nascimento|date:'d/m/Y' }}</p>
                  <p>E-mail: {{ paciente.email }}</p>
                </div>
                <div class="info-block">
                  <p>RG: {{ paciente.rg }}</p>
                  <p>CPF: {{ paciente.cpf }}</p>
                </div>
                <div class="info-block">
                  <p>Tipo de paciente: {{ paciente.tipo_paciente }}</p>
                  <p>Matrícula: {{ paciente.matricula }}</p>
                </div>
                <div class="btn-group" role="group" aria-label="Ações">
                  <a href="{% url 'pacienteEditar' paciente.id %}" class="btn btn-primary">Editar</a>
                  <a href="{% url 'pacienteExcluir' paciente.id %}" class="btn btn-danger ms-1">Excluir</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // Ao digitar no campo de pesquisa
      $('#searchInput').on('keyup', function () {
        var searchText = $(this).val().toLowerCase()
    
        // Mostrar a tabela e limpar resultados anteriores
        $('tbody').show()
        $('tbody tr').hide()
    
        // Filtrar as linhas da tabela
        $('tbody tr').each(function () {
          // Verificar se o texto de pesquisa está presente no nome do profissional
          var pacientenome = $(this).find('.paciente-nome').text().toLowerCase();
          if (pacientenome.indexOf(searchText) !== -1) {
            $(this).show('500');
            // Mostrar a próxima linha que contém mais informações
            $(this).next('tr').show();
          }
        });
      });
    });
    
  </script>

  <script>
    $(document).ready(function() {
      // Configuração do botão de prontuário
      $('.btn-prontuario').click(function(event) {
        // Impede o comportamento padrão do link
        event.preventDefault();
        // Redireciona para a página de prontuário
        window.location.href = $(this).attr('href');
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const toggles = document.querySelectorAll('.accordion-toggle')
      const nomeDivs = document.querySelectorAll('.paciente-nome')
      const expandAllButton = document.querySelector('.btn-expand-all')
    
      nomeDivs.forEach(function (nomeDiv, index) {
        nomeDiv.addEventListener('click', function () {
          const toggle = toggles[index]
          const expanded = toggle.getAttribute('aria-expanded') === 'true'
          toggle.setAttribute('aria-expanded', !expanded)
        })
      })
    
      // Adiciona um evento de clique ao botão "Expandir todos"
      expandAllButton.addEventListener('click', function (event) {
        event.preventDefault()
    
        const accordions = document.querySelectorAll('.collapse')
        const isExpanded = accordions[0].classList.contains('show')
    
        accordions.forEach(function (accordion) {
          if (isExpanded) {
            accordion.classList.remove('show')
          } else {
            accordion.classList.add('show')
          }
        })
      })
    })
  </script>

  <style></style>
{% endblock %}
