{% extends 'base.html' %}

{% block title %}
  Lista de Profissionais de Saúde
{% endblock %}

{% block content %}
  {# Verifica se há mensagens na views e mostra caso verdadeiro #}
  {% if messages %}
    {% include 'messages.html' %}
  {% endif %}

  <div class="container">
    <h4 class="text-center mb-4 text-white">LISTA DE PROFISSIONAIS DE SAÚDE</h4>

    <div class="mb-4" id="glass">
      <div class="d-flex justify-content-between pb-3">
        <a class="btn btn-primary" href="{% url 'agendamentoListagem' %}">Voltar</a>
        <a href="#" class="btn btn-primary btn-expand-all">Expandir todos</a>
        <button class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#cadastroModal">Cadastrar</button>
      </div>

      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Pesquisar por profissional da saude..." id="searchInput" />
      </div>
    </div>

    <table class="table table-bordered table-sm" id="border-none">
      <thead>
        <tr>
          <th colspan="3" style="text-align: center;">Nome</th>
        </tr>
      </thead>
      <tbody>
        {% for profissionaldasaude in profissionaldasaude %}
          <tr data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
            
            <td class="profissionaldasaude-nome" colspan="3">
              {% if  profissionaldasaude.nome_social %}
                {{  profissionaldasaude.nome_social }}
              {% else %}
                {{  profissionaldasaude.nome }}
              {% endif %}

              <span style="color: #bbbbbb">- {{ profissionaldasaude.area }}</span>
              <span style="display: none;">{{ profissionaldasaude.data_nascimento|date:'d/m/Y' }}-{{ profissionaldasaude.email }}-{{ profissionaldasaude.rg }}-{{ profissionaldasaude.cpf }}-{{ profissionaldasaude.identificacao_unica }}-{{ profissionaldasaude.area }}-{{ profissionaldasaude.unidade_siass }}-{{ profissionaldasaude.conselho }}</span>
              <a href="#" aria-expanded="false" class="accordion-toggle"></a>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="border: transparent;">
              <div class="collapse" id="collapse{{ forloop.counter }}">
                <div class="card card-body" id="card-body">
                  <div class="info-block">
                    <p>Data de Nascimento: {{ profissionaldasaude.data_nascimento|date:'d/m/Y' }}</p>
                    <p>E-mail: {{ profissionaldasaude.email }}</p>
                  </div>
                  <div class="info-block">
                    <p>RG: {{ profissionaldasaude.rg }}</p>
                    <p>CPF: {{ profissionaldasaude.cpf }}</p>
                  </div>
                  <div class="info-block">
                    <p>Identificação Única: {{ profissionaldasaude.identificacao_unica }}</p>
                    <p>Área/Rqe: {{ profissionaldasaude.area }}</p>
                  </div>
                  <div class="info-block">
                    <p>Unidade SIASS: {{ profissionaldasaude.unidade_siass }}</p>
                    <p>Conselho: {{ profissionaldasaude.conselho }}</p>
                  </div>
                  <div class="btn-group" role="group" aria-label="Ações">
                    {% comment %} <a href="{% url 'profissionaldasaudeEditar' profissionaldasaude.id %}" class="btn btn-warning">Editar</a> {% endcomment %}
                    <button class="btn btn-primary ms-1" data-bs-toggle="modal" data-bs-target="#editarModal{{ profissionaldasaude.id }}">Editar</button>
                    <button type="button" class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#excluirModal{{ profissionaldasaude.id }}">Excluir</button>
                  </div>
                </div>
              </div>
            </td>
          </tr>

          <!-- Modal de Exclusão -->
          <div class="modal fade" id="excluirModal{{ profissionaldasaude.id }}" tabindex="-1" aria-labelledby="excluirModalLabel{{ profissionaldasaude.id }}" aria-hidden="true">
            <div class="modal-dialog" id="glass">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="excluirModalLabel{{ profissionaldasaude.id }}">Confirmar Exclusão</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Você tem certeza de que deseja excluir {{ profissionaldasaude.nome }}?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" onclick="excluirProfissional({{ profissionaldasaude.id }})">Confirmar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal de Edição -->
          <div class="modal fade" id="editarModal{{ profissionaldasaude.id }}" tabindex="-1" aria-labelledby="editarModalLabel{{ profissionaldasaude.id }}" aria-hidden="true">
            <div class="modal-dialog modal-lg" id="glass">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editarModalLabel{{ profissionaldasaude.id }}">Editar Usuário</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form id="editarForm{{ profissionaldasaude.id }}" method="post" action="{% url 'editar_profissionaldasaude' %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ profissionaldasaude.id }}" />
                    <div class="m-4">
                      <div class="m-2">
                        <div class="col-sm-12" id="pessoais">
                          <div class="col mb-3">
                            <label for="nome{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                            <input type="text" class="form-control" id="nome{{ profissionaldasaude.id }}" name="nome" value="{{ profissionaldasaude.nome }}" />
                          </div>

                          <div class="col mb-3">
                            <label for="nome_social{{ profissionaldasaude.id }}" class="col-sm-12 col-form-label"><b>Nome Social</b></label>  
                            <input type="text" class="form-control" id="nome_social{{ profissionaldasaude.id }}" name="nome_social" value="{{ profissionaldasaude.nome_social }}" />
                          </div>

                          <div class="col mb-3">
                            <label for="email{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>E-mail</b></label>
                            <input type="email" class="form-control" id="email{{ profissionaldasaude.id }}" name="email" value="{{ profissionaldasaude.email }}" />
                          </div>

                          <div class="row mb-3">
                            <div class="col-sm-6">
                              <label for="cpf{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>CPF</b></label>
                              <input type="text" class="form-control" id="cpf{{ profissionaldasaude.id }}" name="cpf" value="{{ profissionaldasaude.cpf }}" />
                            </div>

                            <div class="col-sm-6">
                              <label for="rg{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>RG</b></label>
                              <input type="text" class="form-control" id="rg{{ profissionaldasaude.id }}" name="rg" value="{{ profissionaldasaude.rg }}" />
                            </div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-sm-6">
                              <label for="data_nascimento{{ profissionaldasaude.id }}" class="col-sm-6 col-form-label"><b>Data Nascimento</b></label>
                              <input type="date" class="form-control" id="data_nascimento{{ profissionaldasaude.id }}" name="data_nascimento" value="{{ profissionaldasaude.data_nascimento|date:'Y-m-d' }}" />
                            </div>

                            <div class="col-sm-6">
                              <label for="sexo{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Sexo</b></label>
                              <select class="form-control" id="sexo{{ profissionaldasaude.id }}" name="sexo">
                                <option value="M" {% if profissionaldasaude.sexo == 'M' %} selected {% endif %}>Masculino</option>
                                <option value="F" {% if profissionaldasaude.sexo == 'F' %} selected {% endif %}>Feminino</option>
                                       </select>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12" id="endereco">
                          <div class="col mb-3">
                            <label for="bairro{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Bairro e rua</b></label>
                            <input type="text" class="form-control" id="bairro{{ profissionaldasaude.id }}" name="bairro" value="{{ profissionaldasaude.bairro }}" />
                          </div>

                          <div class="row bm-3">
                            <div class="col-sm-6">
                              <label for="numero{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                              <input type="text" class="form-control" id="numero{{ profissionaldasaude.id }}" name="numero" value="{{ profissionaldasaude.numero }}" />
                            </div>
                            <div class="col-sm-6">
                              <label for="cidade{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                              <input type="text" class="form-control" id="cidade{{ profissionaldasaude.id }}" name="cidade" value="{{ profissionaldasaude.cidade }}" />
                            </div>
                          </div>

                          <div class="row bm-3">
                            <div class="col-sm-6">
                              <label for="uf{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                              <select class="form-control" id="uf{{ profissionaldasaude.id }}" name="uf">
                                <option value="AC" {% if profissionaldasaude.uf == 'AC' %} selected {% endif %}>Acre</option>
                                <option value="AL" {% if profissionaldasaude.uf == 'AL' %} selected {% endif %}>Alagoas</option>
                                <option value="AM" {% if profissionaldasaude.uf == 'AM' %} selected {% endif %}>Amazonas</option>
                                <option value="AP" {% if profissionaldasaude.uf == 'AP' %} selected {% endif %}>Amapá</option>
                                <option value="BA" {% if profissionaldasaude.uf == 'BA' %} selected {% endif %}>Bahia</option>
                                <option value="CE" {% if profissionaldasaude.uf == 'CE' %} selected {% endif %}>Ceará</option>
                                <option value="DF" {% if profissionaldasaude.uf == 'DF' %} selected {% endif %}>Distrito Federal</option>
                                <option value="ES" {% if profissionaldasaude.uf == 'ES' %} selected {% endif %}>Espírito Santo</option>
                                <option value="GO" {% if profissionaldasaude.uf == 'GO' %} selected {% endif %}>Goiás</option>
                                <option value="MA" {% if profissionaldasaude.uf == 'MA' %} selected {% endif %}>Maranhão</option>
                                <option value="MT" {% if profissionaldasaude.uf == 'MT' %} selected {% endif %}>Mato Grosso</option>
                                <option value="MS" {% if profissionaldasaude.uf == 'MS' %} selected {% endif %}>Mato Grosso do Sul</option>
                                <option value="MG" {% if profissionaldasaude.uf == 'MG' %} selected {% endif %}>Minas Gerais</option>
                                <option value="PA" {% if profissionaldasaude.uf == 'PA' %} selected {% endif %}>Pará</option>
                                <option value="PB" {% if profissionaldasaude.uf == 'PB' %} selected {% endif %}>Paraíba</option>
                                <option value="PE" {% if profissionaldasaude.uf == 'PE' %} selected {% endif %}>Pernambuco</option>
                                <option value="PI" {% if profissionaldasaude.uf == 'PI' %} selected {% endif %}>Piauí</option>
                                <option value="PR" {% if profissionaldasaude.uf == 'PR' %} selected {% endif %}>Paraná</option>
                                <option value="RJ" {% if profissionaldasaude.uf == 'RJ' %} selected {% endif %}>Rio de Janeiro</option>
                                <option value="RN" {% if profissionaldasaude.uf == 'RN' %} selected {% endif %}>Rio Grande do Norte</option>
                                <option value="RO" {% if profissionaldasaude.uf == 'RO' %} selected {% endif %}>Rondônia</option>
                                <option value="RR" {% if profissionaldasaude.uf == 'RR' %} selected {% endif %}>Roraima</option>
                                <option value="RS" {% if profissionaldasaude.uf == 'RS' %} selected {% endif %}>Rio Grande do Sul</option>
                                <option value="SC" {% if profissionaldasaude.uf == 'SC' %} selected {% endif %}>Santa Catarina</option>
                                <option value="SE" {% if profissionaldasaude.uf == 'SE' %} selected {% endif %}>Sergipe</option>
                                <option value="SP" {% if profissionaldasaude.uf == 'SP' %} selected {% endif %}>São Paulo</option>
                                <option value="TO" {% if profissionaldasaude.uf == 'TO' %} selected {% endif %}>Tocantins</option>
                              </select>
                            </div>
                            <div class="col-sm-6">
                              <label for="cep{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                              <input type="text" class="form-control" id="cep{{ profissionaldasaude.id }}" name="cep" value="{{ profissionaldasaude.cep }}" />
                            </div>
                          </div>

                          <div class="col mb-3">
                            <label for="telefone{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                            <input type="text" class="form-control" id="telefone{{ profissionaldasaude.id }}" name="ddd_telefone" value="{{ profissionaldasaude.ddd_telefone }}" />
                          </div>

                          <div class="col mb-3">
                            <label for="complemento{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                            <input type="text" class="form-control" id="complemento{{ profissionaldasaude.id }}" name="complemento" value="{{ profissionaldasaude.complemento }}" />
                          </div>
                        </div>

                        <div class="col-sm-12" id="cargo">
                          <div class="row bm-3">
                            <div class="col-sm-6">
                              <label for="identificacao_unica{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Siape</b></label>
                              <input type="text" class="form-control" id="identificacao_unica{{ profissionaldasaude.id }}" name="identificacao_unica" value="{{ profissionaldasaude.identificacao_unica }}" />
                            </div>
                            <div class="col-sm-6">
                              <label for="area{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Área</b></label>
                              <input type="text" class="form-control" id="area{{ profissionaldasaude.id }}" name="area" value="{{ profissionaldasaude.area }}" />
                            </div>
                          </div>

                          <div class="row bm-3">
                            <div class="col-sm-6">
                              <label for="unidade_siass{{ profissionaldasaude.id }}" class="col-sm-12 col-form-label"><b>Unidade SIASS</b></label>
                              <input type="text" class="form-control" id="unidade_siass{{ profissionaldasaude.id }}" name="unidade_siass" value="{{ profissionaldasaude.unidade_siass }}" />
                            </div>
                            <div class="col-sm-6">
                              <label for="formacao{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Formação</b></label>
                              <input type="text" class="form-control" id="formacao{{ profissionaldasaude.id }}" name="formacao" value="{{ profissionaldasaude.formacao }}" />
                            </div>
                          </div>

                          <div class="row bm-3">
                            <div class="col-sm-6">
                              <label for="conselho{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Conselho</b></label>
                              <input type="text" class="form-control" id="conselho{{ profissionaldasaude.id }}" name="conselho" value="{{ profissionaldasaude.conselho }}" />
                            </div>
                            <div class="col-sm-6">
                              <label for="registro{{ profissionaldasaude.id }}" class="col-sm-2 col-form-label"><b>Registro</b></label>
                              <input type="text" class="form-control" id="registro{{ profissionaldasaude.id }}" name="registro" value="{{ profissionaldasaude.registro }}" />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center align-items-center">
                      <button type="button" class="btn btn-primary" onclick="editarProfissionaldasaude({{ profissionaldasaude.id }})">Salvar Alterações</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <!-- Modal cadastrar -->
        <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" id="glass">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cadastroModalLabel">Cadastro Profissional da Saúde</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="cadastroForm" method="POST" action="{% url 'profissionaldasaudeCreate' %}">
                  {% csrf_token %}
                  <div class="m-2">
                    <div class="m-2">
                      <div class="mb-3 row">
                        <div class="col-sm-12" id="pessoais">
                          <div class="col mb-3">
                            <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                            <div class="col-sm-12">{{ form.nome }}</div>
                          </div>

                          <div class="col mb-3">
                            <label for="nome_social{{ profissionaldasaude.id }}" class="col-sm-12 col-form-label"><b>Nome Social</b></label>  
                            <input type="text" class="form-control" id="nome_social{{ profissionaldasaude.id }}" name="nome_social" value="{{ profissionaldasaude.nome_social }}" />
                          </div>

                          <div class="col mb-3">
                            <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label"><b>E-mail</b></label>
                            <div class="col-sm-12">{{ form.email }}</div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-sm-6">
                              <label for="{{ form.cpf.id_for_label }}" class="col-sm-2 col-form-label"><b>CPF</b></label>
                              <div class="col-sm-12">{{ form.cpf }}</div>
                            </div>

                            <div class="col-sm-6">
                              <label for="{{ form.rg.id_for_label }}" class="col-sm-2 col-form-label"><b>RG</b></label>
                              <div class="col-sm-12">{{ form.rg }}</div>
                            </div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-sm-6">
                              <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-6 col-form-label"><b>Data de Nascimento</b></label>
                              <div class="col-sm-12">{{ form.data_nascimento }}</div>
                            </div>

                            <div class="col-sm-6">
                              <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label"><b>Sexo</b></label>
                              <div class="col-sm-12">{{ form.sexo }}</div>
                            </div>
                          </div>
                        </div>

                        <div class="col-sm-12" id="endereco">
                          <div class="col mb-3">
                            <label for="{{ form.bairro.id_for_label }}" class="col-sm-2 col-form-label"><b>Bairro e Rua</b></label>
                            <div class="col-sm-12">{{ form.bairro }}</div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-sm-6">
                              <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                              <div class="col-sm-12">{{ form.numero }}</div>
                            </div>
                            <div class="col-sm-6">
                              <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                              <div class="col-sm-12">{{ form.cidade }}</div>
                            </div>
                          </div>

                          <div class="row mb-3">
                            <div class="col-sm-6">
                              <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                              <div class="col-sm-12">{{ form.uf }}</div>
                            </div>
                            <div class="col-sm-6">
                              <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                              <div class="col-sm-12">{{ form.cep }}</div>
                            </div>
                          </div>

                          <div class="col mb-3">
                            <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                            <div class="col-sm-12">{{ form.ddd_telefone }}</div>
                          </div>

                          <div class="col mb-3">
                            <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                            <div class="col-sm-12">{{ form.complemento }}</div>
                          </div>
                        </div>
                        
                        <div class="col-sm-12" id="cargo">
                          <div class="mb-3 row">
                            <div class="col-sm-6">
                              <label for="{{ form.identificacao_unica.id_for_label }}" class="col-sm-2 col-form-label"><b>Siape</b></label>
                              <div class="col-sm-12">{{ form.identificacao_unica }}</div>
                            </div>
                            <div class="col-sm-6">
                              <label for="{{ form.area.id_for_label }}" class="col-sm-2 col-form-label"><b>Área</b></label>
                              <div class="col-sm-12">{{ form.area }}</div>
                            </div>
                          </div>
          
                          <div class="mb-3 row">
                            <div class="col-sm-6">
                              <label for="{{ form.unidade_siass.id_for_label }}" class="col-sm-12 col-form-label"><b>Unidade SIASS</b></label>
                              <div class="col-sm-12">{{ form.unidade_siass }}</div>
                            </div>
                            <div class="col-sm-6">
                              <label for="{{ form.formacao.id_for_label }}" class="col-sm-12 col-form-label"><b>Formação</b></label>
                              <div class="col-sm-12">{{ form.formacao }}</div>
                            </div>
                          </div>
          
                          <div class="mb-3 row">
                            <div class="col-sm-6">
                              <label for="{{ form.conselho.id_for_label }}" class="col-sm-12 col-form-label"><b>Conselho</b></label>
                              <div class="col-sm-12">{{ form.conselho }}</div>
                            </div>
                            <div class="col-sm-6">
                              <label for="{{ form.registro.id_for_label }}" class="col-sm-12 col-form-label"><b>Registro</b></label>
                              <div class="col-sm-12">{{ form.registro }}</div>
                            </div>
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary"><b>Cadastrar</b></button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Cancelar</b></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function(){
      $('#cadastroForm').on('submit', function(event){
        event.preventDefault();
  
        // Mostrar tela de carregamento
        $('#loading-screen').show();
        $(this).find('button[type="submit"]').prop('disabled', true);
  
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function(response) {
            $('#loading-screen').hide(); // Esconder tela de carregamento
            $('#cadastroForm').find('button[type="submit"]').prop('disabled', false);
  
            if (response.success) {
              $('#cadastroModal').modal('hide');
              location.reload();
            } else {
              alert('Erro ao cadastrar o profissional da saúde: ' + JSON.stringify(response.errors));
            }
          },
          error: function(response) {
            $('#loading-screen').hide(); // Esconder tela de carregamento
            $('#cadastroForm').find('button[type="submit"]').prop('disabled', false);
            alert('Erro ao cadastrar o profissional da saúde: ' + response.responseText);
          }
        });
      });
    });
    </script>

  <script>
    function editarProfissionaldasaude(id) {
      var form = $('#editarForm' + id)
      $.ajax({
        type: 'POST',
        url: form.attr('action'),
        data: form.serialize(),
        success: function (response) {
          if (response.success) {
            $('#editarModal' + id).modal('hide')
            // Atualizar a lista ou mostrar uma mensagem de sucesso
            location.reload() // Recarrega a página
          } else {
            alert('Erro ao editar os dados: ' + JSON.stringify(response.errors))
          }
        },
        error: function (response) {
          alert('Erro ao editar os dados: ' + response.responseText)
        }
      })
    }
  </script>

  <script>
    function excluirProfissional(profissionaldasaudeId) {
      $.ajax({
        type: 'POST',
        url: '{% url "profissionaldasaudeExcluir" 0 %}'.replace('0', profissionaldasaudeId),
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.success) {
            location.reload()
          } else {
            alert('Erro: ' + response.error)
          }
        },
        error: function (response) {
          alert('Ocorreu um erro ao excluir o proffisional da saude.')
        }
      })
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // Ao digitar no campo de pesquisa
      $('#searchInput').on('keyup', function () {
        var searchText = $(this).val().toLowerCase()
    
        // Mostrar a tabela e limpar resultados anteriores
        $('tbody').show()
        $('tbody tr').hide()
    
        // Filtrar as linhas da tabela
        $('tbody tr').each(function () {
          // Verificar se o texto de pesquisa está presente no nome do profissional
          var profissionalNome = $(this).find('.profissionaldasaude-nome').text().toLowerCase()
          if (profissionalNome.indexOf(searchText) !== -1) {
            $(this).show('500')
            // Mostrar a próxima linha que contém mais informações
            $(this).next('tr').show()
          }
        })
      })
    })
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const toggles = document.querySelectorAll('.accordion-toggle')
      const nomeDivs = document.querySelectorAll('.profissionaldasaude-nome')
      const expandAllButton = document.querySelector('.btn-expand-all')
    
      nomeDivs.forEach(function (nomeDiv, index) {
        nomeDiv.addEventListener('click', function () {
          const toggle = toggles[index]
          const expanded = toggle.getAttribute('aria-expanded') === 'true'
          toggle.setAttribute('aria-expanded', !expanded)
        })
      })
    
      expandAllButton.addEventListener('click', function (event) {
        event.preventDefault()
    
        const accordions = document.querySelectorAll('.collapse')
        const isExpanded = accordions[0].classList.contains('show')
    
        accordions.forEach(function (accordion) {
          if (isExpanded) {
            accordion.classList.remove('show')
          } else {
            accordion.classList.add('show')
          }
        })
      })
    })
  </script>
{% endblock %}
