<!-- listar_pacientes.html -->
{% extends 'base.html' %}

{% block title %}
  Lista de Pacientes
{% endblock %}

{% block content %}
  {# Verifica se há message na views e mostra caso true #}
  {% if messages %}{% include 'messages.html' %}{% endif %}

  <h4 class="text-center mb-3 text-black">LISTA DE PACIENTES</h4>
    
  <div class="mt-2 mb-4" id="glass">
  
    <div class="d-flex justify-content-between pb-3">
      <a class="btn btn-primary" href="{% url 'agendamentoListagem' %}">Voltar</a>
      <a href="#" class="btn btn-primary btn-expand-all">Expandir todos</a>
      <button class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#cadastroModal">Cadastrar</button>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Pesquisar paciente..." id="searchInput" />
    </div>
  </div>

  <table class="table table-bordered table-sm" id="border-none">
    <thead>
      <tr>
        <th colspan="7" style="text-align: center;">Nome</th>
      </tr>
    </thead>
  
    <tbody class="collapse-table">
      {% for paciente in pacientes %}
        <tr data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" 
            aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
          
          <td class="paciente-nome" colspan="3">
            {{ paciente.get_display_name }}
            <span style="color: #bbbbbb">- {{ paciente.get_sexo_display }}</span>
            <span style="display: none;">{{ paciente.data_nascimento|date:'d/m/Y' }}-{{ paciente.email }}-{{ paciente.rg }}-{{ paciente.cpf }}-{{ paciente.tipo_paciente }}-{{ paciente.matricula }}</span>
            <a href="#" aria-expanded="false" class="accordion-toggle"></a>
            
              <a href="{% url 'prontuario_medico' paciente.id %}" class="btn btn-primary btn-prontuario" style="display: block; float: right; margin-right: 20px;">
                Prontuário
            </a>
          </td>
        </tr>
          
        <tr>
          <td colspan="3" style="border: transparent;">
            <div class="collapse" id="collapse{{ forloop.counter }}">
              <div class="card card-body" id="card-body">
                  
                <div class="info-block">
                    <p><b>Data de Nascimento:</b> {{ paciente.data_nascimento|date:'d/m/Y' }}</p>
                    <p><b>E-mail:</b> {{ paciente.email|default:'-----' }}</p>
                </div>
                  
                <div class="info-block">
                    <p><b>RG:</b> {{ paciente.rg|default:'-----' }}</p>
                    <p><b>CPF:</b> {{ paciente.cpf }}</p>
                </div>
                  
                <div class="info-block">
                    <p><b>Tipo de paciente:</b> {{ paciente.tipo_paciente }}</p>
                    <p><b>Matrícula:</b> {{ paciente.matricula }}</p>
                </div>
                  
                <div class="btn-group" role="group" aria-label="Ações">
                  {% comment %} <a href="{% url 'pacienteEditar' paciente.id %}" class="btn btn-primary">Editar</a> {% endcomment %}
                  <button class="btn btn-primary ms-1" data-bs-toggle="modal" data-bs-target="#editarModal{{ paciente.id }}">Editar</button>
                  <button type="button" class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#excluirModal{{ paciente.id }}">Excluir</button>
                </div>
                  
              </div>
            </div>
          </td>
        </tr>
          
          
        <!-- Modal de Exclusão -->
        <div class="modal fade" id="excluirModal{{ paciente.id }}" tabindex="-1" 
             aria-labelledby="excluirModalLabel{{ paciente.id }}" aria-hidden="true">
          <div class="modal-dialog" id="glass">
            <div class="modal-content">
                
              <div class="modal-header">
                <h5 class="modal-title" id="excluirModalLabel{{ paciente.id }}">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
                
              <div class="modal-body">
                <p>Você tem certeza de que deseja excluir este paciente?</p>
              </div>
                
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancelar
                </button>
                  
                <button type="button" class="btn btn-danger" onclick="excluirPaciente({{ paciente.id }})">
                    Confirmar
                </button>
              </div>
                
            </div>
          </div>
        </div>
        <!-- Fim -->

          
        <!-- Modal de Edição -->
        <div class="modal fade" id="editarModal{{ paciente.id }}" tabindex="-1" 
             aria-labelledby="editarModalLabel{{ paciente.id }}" aria-hidden="true">
          <div class="modal-dialog modal-lg" id="glass">
            <div class="modal-content">
            
              <div class="modal-header">
                <h5 class="modal-title" id="editarModalLabel{{ paciente.id }}">Editar Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
            
              <div class="modal-body">
                <form id="editarForm{{ paciente.id }}" method="post" action="{% url 'editar_paciente' %}">
                  {% csrf_token %}
                
                  <input type="hidden" name="id" value="{{ paciente.id }}" />
                  <div class="m-4">
                    <div class="m-2">
                      <div class="col-sm-12" id="pessoais">
                      
                        <div class="col mb-3">
                          <label for="nome{{ paciente.id }}" class="col-sm-2 col-form-label">
                              <b>Nome</b>
                          </label>
                          <input type="text" class="form-control" id="nome{{ paciente.id }}" name="nome" 
                                 value="{{ paciente.nome }}" />
                        </div>
                      
                      
                        {% if paciente.nome_social %}
                            <div class="col mb-3">
                                <label for="nome_social{{ paciente.id }}" class="col-sm-12 col-form-label">
                                    <b>Nome Social</b>
                                </label>
                                <input type="text" class="form-control" id="nome_social{{ paciente.id }}"
                                       name="nome_social" value="{{ paciente.nome_social }}"/>
                            </div>
                        {% endif %}


                        <div class="col mb-3">
                          <label for="email{{ paciente.id }}" class="col-sm-2 col-form-label">
                              <b>E-mail</b>
                          </label>
                            
                          <input type="email" class="form-control" id="email{{ paciente.id }}" name="email"
                                 value="{{ paciente.email }}" />
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-6">
                            <label for="cpf{{ paciente.id }}" class="col-sm-2 col-form-label">
                                <b>CPF</b>
                            </label>
                            <input type="text" class="form-control" id="cpf{{ paciente.id }}" 
                                   name="cpf" value="{{ paciente.cpf }}" />
                          </div>

                          <div class="col-sm-6">
                            <label for="rg{{ paciente.id }}" class="col-sm-2 col-form-label">
                                <b>RG</b>
                            </label>
                            <input type="text" class="form-control" id="rg{{ paciente.id }}" name="rg" 
                                   value="{{ paciente.rg|default:'-----' }}" />
                          </div>
                        </div>

                        <div class="row mb-3">
                          <div class="col-sm-6">
                            <label for="data_nascimento{{ paciente.id }}" class="col-sm-6 col-form-label">
                                <b>Data Nascimento</b>
                            </label>
                            <input type="date" class="form-control" id="data_nascimento{{ paciente.id }}" 
                                   name="data_nascimento" value="{{ paciente.data_nascimento|date:'Y-m-d' }}" />
                          </div>

                          <div class="col-sm-6">
                            <label for="sexo{{ paciente.id }}" class="col-sm-2 col-form-label"><b>Sexo</b></label>
                            <select class="form-control" id="sexo{{ paciente.id }}" name="sexo">
                              <option value="M" {% if paciente.sexo == 'M' %} selected {% endif %}>Masculino</option>
                              <option value="F" {% if paciente.sexo == 'F' %} selected {% endif %}>Feminino</option>
                              <option value="F" {% if paciente.sexo == 'O' %} selected {% endif %}>Outro</option>
                            </select>
                          </div>
                        
                        </div>
                      </div>

                      <div class="col-sm-12" id="endereco">
                        <div class="col mb-3">
                          <label for="bairro{{ paciente.id }}" class="col-sm-2 col-form-label"><b>Bairro</b></label>
                          <input type="text" class="form-control" id="bairro{{ paciente.id }}" 
                                 name="bairro" value="{{ paciente.bairro|default:'-----' }}" />
                        </div>

                        <div class="row bm-3">
                          <div class="col-sm-6">
                            <label for="numero{{ paciente.id }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                            <input type="text" class="form-control" id="numero{{ paciente.id }}" name="numero" 
                                   value="{{ paciente.numero|default:'-----' }}" />
                          </div>
                            
                          <div class="col-sm-6">
                            <label for="cidade{{ paciente.id }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                            <input type="text" class="form-control" id="cidade{{ paciente.id }}" name="cidade" 
                                   value="{{ paciente.cidade }}" />
                          </div>
                        </div>

                        <div class="row bm-3">
                          <div class="col-sm-6">
                            <label for="uf{{ paciente.id }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                            <select class="form-control" id="uf{{ paciente.id }}" name="uf">
                              <option value="AC" {% if paciente.uf == 'AC' %} selected {% endif %}>Acre</option>
                              <option value="AL" {% if paciente.uf == 'AL' %} selected {% endif %}>Alagoas</option>
                              <option value="AM" {% if paciente.uf == 'AM' %} selected {% endif %}>Amazonas</option>
                              <option value="AP" {% if paciente.uf == 'AP' %} selected {% endif %}>Amapá</option>
                              <option value="BA" {% if paciente.uf == 'BA' %} selected {% endif %}>Bahia</option>
                              <option value="CE" {% if paciente.uf == 'CE' %} selected {% endif %}>Ceará</option>
                              <option value="DF" {% if paciente.uf == 'DF' %} selected {% endif %}>Distrito Federal</option>
                              <option value="ES" {% if paciente.uf == 'ES' %} selected {% endif %}>Espírito Santo</option>
                              <option value="GO" {% if paciente.uf == 'GO' %} selected {% endif %}>Goiás</option>
                              <option value="MA" {% if paciente.uf == 'MA' %} selected {% endif %}>Maranhão</option>
                              <option value="MT" {% if paciente.uf == 'MT' %} selected {% endif %}>Mato Grosso</option>
                              <option value="MS" {% if paciente.uf == 'MS' %} selected {% endif %}>Mato Grosso do Sul</option>
                              <option value="MG" {% if paciente.uf == 'MG' %} selected {% endif %}>Minas Gerais</option>
                              <option value="PA" {% if paciente.uf == 'PA' %} selected {% endif %}>Pará</option>
                              <option value="PB" {% if paciente.uf == 'PB' %} selected {% endif %}>Paraíba</option>
                              <option value="PE" {% if paciente.uf == 'PE' %} selected {% endif %}>Pernambuco</option>
                              <option value="PI" {% if paciente.uf == 'PI' %} selected {% endif %}>Piauí</option>
                              <option value="PR" {% if paciente.uf == 'PR' %} selected {% endif %}>Paraná</option>
                              <option value="RJ" {% if paciente.uf == 'RJ' %} selected {% endif %}>Rio de Janeiro</option>
                              <option value="RN" {% if paciente.uf == 'RN' %} selected {% endif %}>Rio Grande do Norte</option>
                              <option value="RO" {% if paciente.uf == 'RO' %} selected {% endif %}>Rondônia</option>
                              <option value="RR" {% if paciente.uf == 'RR' %} selected {% endif %}>Roraima</option>
                              <option value="RS" {% if paciente.uf == 'RS' %} selected {% endif %}>Rio Grande do Sul</option>
                              <option value="SC" {% if paciente.uf == 'SC' %} selected {% endif %}>Santa Catarina</option>
                              <option value="SE" {% if paciente.uf == 'SE' %} selected {% endif %}>Sergipe</option>
                              <option value="SP" {% if paciente.uf == 'SP' %} selected {% endif %}>São Paulo</option>
                              <option value="TO" {% if paciente.uf == 'TO' %} selected {% endif %}>Tocantins</option>
                            </select>
                          </div>
                        
                          <div class="col-sm-6">
                            <label for="cep{{ paciente.id }}" class="col-sm-2 col-form-label">
                                <b>CEP</b>
                            </label>
                            <input type="text" class="form-control" id="cep{{ paciente.id }}" name="cep" 
                                   value="{{ paciente.cep }}" />
                          </div>
                        </div>

                        <div class="col mb-3">
                          <label for="telefone{{ paciente.id }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                          <input type="text" class="form-control" id="telefone{{ paciente.id }}" name="ddd_telefone" 
                                 value="{{ paciente.ddd_telefone|default:'-----' }}" />
                        </div>

                        <div class="col mb-3">
                          <label for="complemento{{ paciente.id }}" class="col-sm-2 col-form-label">
                              <b>Complemento</b>
                          </label>
                          <input type="text" class="form-control" id="complemento{{ paciente.id }}" name="complemento" 
                                 value="{{ paciente.complemento|default:'-----' }}" />
                        </div>
                      </div>

                      <div class="col-sm-12" id="cargo">
                        <div class="col mb-3">
                          <label for="matricula{{ paciente.id }}" class="col-sm-6 col-form-label">
                              <b>Matricula Siape</b>
                          </label>
                          <input type="text" class="form-control" id="matricula{{ paciente.id }}" name="matricula" 
                                 value="{{ paciente.matricula }}" />
                        </div>

                        <div class="row bm-3">
                          <div class="col-sm-6">
                            <label for="tipo_paciente{{ paciente.id }}" class="col-sm-6 col-form-label">
                                <b>Tipo de Paciente</b>
                            </label>
                            <input type="text" class="form-control" id="tipo_paciente{{ paciente.id }}" 
                                   name="tipo_paciente" value="{{ paciente.tipo_paciente }}" />
                          </div>
                          <div class="col-sm-6">
                            <label for="cargo_funcao{{ paciente.id }}" class="col-sm-2 col-form-label">
                                <b>Cargo/Função</b>
                            </label>
                            <input type="text" class="form-control" id="cargo_funcao{{ paciente.id }}" 
                                   name="cargo_funcao" value="{{ paciente.cargo_funcao }}" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="modal-footer d-flex justify-content-center align-items-center">
                    <button type="button" class="btn btn-primary" onclick="editarPaciente({{ paciente.id }})">
                        Salvar Alterações
                    </button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  </div>
                
                </form>
              
              </div>
            </div>
          </div>
        </div>
        <!-- Fim -->
          
      {% endfor %}

      
      <!-- Modal cadastrar -->
      <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" id="glass">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="cadastroModalLabel">Cadastro de Paciente</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="cadastroForm" method="POST" action="{% url 'pacienteCreate' %}">
                {% csrf_token %}
                <div class="m-2">
                  <div class="m-2">
                    <div class="col-sm-12" id="pessoais">
                      <div class="col">
                        <label for="{{ form.nome.id_for_label }}" class="col-sm-2 col-form-label"><b>Nome</b></label>
                        <div class="col-sm-12">{{ form.nome }}</div>
                      </div>

                      <div class="col mb-3">
                        <label for="nome_social{{ paciente.id }}" class="col-sm-12 col-form-label"><b>Nome Social</b></label>  
                        <input type="text" class="form-control" id="nome_social{{ paciente.id }}" name="nome_social" value="{{ paciente.nome_social|default_if_none:'' }}" />
                      </div>

                      <div class="col">
                        <label for="{{ form.email.id_for_label }}" class="col-sm-2 col-form-label"><b>E-mail</b></label>
                        <div class="col-sm-12">
                          {% with field=form.email %}
                            {% include 'field.html' %}
                          {% endwith %}
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <label for="{{ form.cpf.id_for_label }}" class="col-sm-2 col-form-label"><b>CPF</b></label>
                          <div class="col-sm-12">
                            {% with field=form.cpf %}
                              {% include 'field.html' %}
                            {% endwith %}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.rg.id_for_label }}" class="col-sm-2 col-form-label"><b>RG</b></label>
                          <div class="col-sm-12">{{ form.rg }}</div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-6">
                          <label for="{{ form.data_nascimento.id_for_label }}" class="col-sm-12 col-form-label"><b>Data de Nascimento</b></label>
                          <div class="col-sm-12">
                            {% with field=form.data_nascimento %}
                              {% include 'field.html' %}
                            {% endwith %}
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.sexo.id_for_label }}" class="col-sm-2 col-form-label"><b>Sexo</b></label>
                          <div class="col-sm-12">{{ form.sexo }}</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12" id="endereco">
                      <div class="col">
                        <label for="{{ form.bairro.id_for_label }}" class="col-sm-2 col-form-label"><b>Bairro e Rua</b></label>
                        <div class="col-sm-12">{{ form.bairro }}</div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="{{ form.numero.id_for_label }}" class="col-sm-2 col-form-label"><b>Número</b></label>
                          <div class="col-sm-12">{{ form.numero }}</div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.cidade.id_for_label }}" class="col-sm-2 col-form-label"><b>Cidade</b></label>
                          <div class="col-sm-12">{{ form.cidade }}</div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <label for="{{ form.uf.id_for_label }}" class="col-sm-2 col-form-label"><b>UF</b></label>
                          <div class="col-sm-12">{{ form.uf }}</div>
                        </div>
                        <div class="col-sm-6">
                          <label for="{{ form.cep.id_for_label }}" class="col-sm-2 col-form-label"><b>CEP</b></label>
                          <div class="col-sm-12">{{ form.cep }}</div>
                        </div>
                      </div>
                      <div class="col">
                        <label for="{{ form.ddd_telefone.id_for_label }}" class="col-sm-2 col-form-label"><b>Telefone</b></label>
                        <div class="col-sm-12">{{ form.ddd_telefone }}</div>
                      </div>
                      <div class="col">
                        <label for="{{ form.complemento.id_for_label }}" class="col-sm-2 col-form-label"><b>Complemento</b></label>
                        <div class="col-sm-12">{{ form.complemento }}</div>
                      </div>
                    </div>

                    <div class="col-sm-12" id="cargo">
                      <div class="col">
                        <label for="{{ form.matricula.id_for_label }}" class="col-sm-2 col-form-label"><b>Matrícula/Siape</b></label>
                        <div class="col-sm-12">{{ form.matricula }}</div>
                      </div>
                      <div class="col">
                        <label for="{{ form.tipo_paciente.id_for_label }}" class="col-sm-12 col-form-label"><b>Tipo de Paciente</b></label>
                        <div class="col-sm-12">{{ form.tipo_paciente }}</div>
                      </div>
                      <div class="col">
                        <label for="{{ form.cargo_funcao.id_for_label }}" class="col-sm-2 col-form-label"><b>Cargo/Função</b></label>
                        <div class="col-sm-12">{{ form.cargo_funcao }}</div>
                      </div>
                      <div class="col">
                        <label for="{{ form.lotacao_de_exercicio.id_for_label }}" class="col-sm-2 col-form-label">{{ form.fields.lotacao_de_exercicio.label }}</label>
                        <div class="col-sm-4">{{ form.lotacao_de_exercicio }}</div>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" style="margin-bottom: 2px" class="btn btn-primary">Cadastrar</button>
                      <a class="btn btn-secondary" style="line-height: 2; margin-bottom: 2px" href="{% url 'pacienteListagem' %}">Voltar</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Fim -->
    
    </tbody>
  </table>

  <script>
    $(document).ready(function () {
      $('#cadastroForm').on('submit', function (event) {
        event.preventDefault() // Evita o envio tradicional do formulário
    
        $.ajax({
          type: 'POST',
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: function (response) {
            if (response.success) {
              $('#cadastroModal').modal('hide')
              // Atualizar a lista ou mostrar uma mensagem de sucesso
              location.reload() // Recarrega a página
            } else {
              alert('Erro ao cadastrar o usuário: ' + JSON.stringify(response.errors))
            }
          },
          error: function (response) {
            alert('Erro ao cadastrar o usuário: ' + response.responseText)
          }
        })
      })
    })
  </script>

  <script>
    function editarPaciente(id) {
      var form = $('#editarForm' + id)
      $.ajax({
        type: 'POST',
        url: form.attr('action'),
        data: form.serialize(),
        success: function (response) {
          if (response.success) {
            $('#editarModal' + id).modal('hide')
            // Atualizar a lista ou mostrar uma mensagem de sucesso
            location.reload() // Recarrega a página
          } else {
            alert('Erro ao editar os dados: ' + JSON.stringify(response.errors))
          }
        },
        error: function (response) {
          alert('Erro ao editar os dados: ' + response.responseText)
        }
      })
    }
  </script>

  <script>
    function excluirPaciente(pacienteId) {
      $.ajax({
        type: 'POST',
        url: '{% url "pacienteExcluir" 0 %}'.replace('0', pacienteId),
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function (response) {
          if (response.success) {
            //alert('Paciente excluído com sucesso.');
            location.reload()
          } else {
            alert('Erro: ' + response.error)
          }
        },
        error: function (response) {
          alert('Ocorreu um erro ao excluir o paciente.')
        }
      })
    }
  </script>
    
    
{# Pesquisar Paciente #}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      // Ao digitar no campo de pesquisa
      $('#searchInput').on('keyup', function () {
        var searchText = $(this).val().toLowerCase()
    
        // Mostrar a tabela e limpar resultados anteriores
        $('tbody').show()
        $('tbody tr').hide()
    
        // Filtrar as linhas da tabela
        $('tbody tr').each(function () {
          // Verificar se o texto de pesquisa está presente no nome do profissional
          var pacientenome = $(this).find('.paciente-nome').text().toLowerCase()
          if (pacientenome.indexOf(searchText) !== -1) {
            $(this).show('500')
            // Mostrar a próxima linha que contém mais informações
            $(this).next('tr').show()
          }
        })
      })
    })
  </script>

  <script>
    $(document).ready(function () {
      // Configuração do botão de prontuário
      $('.btn-prontuario').click(function (event) {
        // Impede o comportamento padrão do link
        event.preventDefault()
        // Redireciona para a página de prontuário
        window.location.href = $(this).attr('href')
      })
    })
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const toggles = document.querySelectorAll('.accordion-toggle')
      const nomeDivs = document.querySelectorAll('.paciente-nome')
      const expandAllButton = document.querySelector('.btn-expand-all')
    
      nomeDivs.forEach(function (nomeDiv, index) {
        nomeDiv.addEventListener('click', function () {
          const toggle = toggles[index]
          const expanded = toggle.getAttribute('aria-expanded') === 'true'
          toggle.setAttribute('aria-expanded', !expanded)
        })
      })
    
      // Adiciona um evento de clique ao botão "Expandir todos"
      expandAllButton.addEventListener('click', function (event) {
        event.preventDefault()
    
        const accordions = document.querySelectorAll('.collapse')
        const isExpanded = accordions[0].classList.contains('show')
    
        accordions.forEach(function (accordion) {
          if (isExpanded) {
            accordion.classList.remove('show')
          } else {
            accordion.classList.add('show')
          }
        })
      })
    })
  </script>

  <style>
    .tm-section-down-arrow {
      width: 100%;
      height: 100px;
    }
  </style>
{% endblock %}
