{% extends "base.html" %}

{% block title %}Lista de Agendamentos{% endblock %}

{% block content %}
  <h4>Lista de Agendamentos Gerais</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Paciente</th>
        <th scope="col">Profissional de Saúde</th>
        <th scope="col">Data do Agendamento</th>
        <th scope="col">Prioridade de Atendimento</th>
        <th scope="col">Ações</th> <!-- Adicionando a coluna de Ações -->
      </tr>
    </thead>
    <tbody>
      {% for agendamento in agendamentos %}
        <tr>
          <td>{{ agendamento.paciente.nome }}</td>
          <td>{{ agendamento.profissional_saude.nome }}</td>
          <td>{{ agendamento.data_agendamento }}</td>
          <td>
            {% if agendamento.prioridade_atendimento %}
              <i class="fas fa-circle text-success">Sim</i>
            {% else %}
              <i class="fas fa-circle text-danger">Não</i>
            {% endif %}
          </td>
          <td>
            <div class="btn-group" role="group" aria-label="Ações">
              <a href="{% url 'agendamentoEditar' agendamento.id %}" class="btn btn-primary">Editar</a>
              <a href="{% url 'agendamentoExcluir' agendamento.id %}" class="btn btn-danger ms-1">Excluir</a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="d-flex justify-content-between">
    <a class="btn btn-primary" href="{% url 'home' %}">Voltar</a>
    <a class="btn btn-primary" href="{% url 'agendamentoCreate'  %}">Agendar</a>
  </div>
{% endblock %}
