{% extends "base.html" %}
{% block title %}Lista de Agendamentos{% endblock %}
{% load static %}

{% block content %}

{% if messages %}{% include 'messages.html' %}{% endif %}

<div class="text-center text-black mb-4">
  <h4>LISTA DE AGENDAMENTOS GERAIS</h4>
</div>

<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#relatorioModal">
    Ver Relatórios
</button>

<div class="modal fade" id="relatorioModal" tabindex="-1" aria-labelledby="relatorioModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="relatorioModalLabel">Relatórios</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Total de Atendimentos: <span id="totalAtendimentos"></span></p>
                <p>Total de Cancelamentos: <span id="totalCancelados"></span></p>
                <p>Pacientes Atendidos: <span id="pacientesAtendidos"></span></p>
                <p>Atendimentos por Turno:</p>
                <ul id="atendimentosPorTurno"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

    <div class="mb-4 d-flex justify-content-between align-items-center" id="glass">

        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalCancelados">Cancelados</button>

        <div class="mb-4 d-flex align-items-center" id="" style="margin-left: 60px;">
            <form method="get" class="mx-auto" style="max-width: 600px; min-width: 410px;">
                <div class="row">
                    <div class="row align-items-end">
                        <div class="col-md-12 mb-3">
                            <label for="profissional_saude" class="form-label text-black">Profissional de Saúde:</label>
                            <select name="profissional_saude" id="profissional_saude" class="form-select">
                                <option value="" selected>Selecione um profissional</option>
                                <option value="todos" class="destacado">Listar Todos</option>
                                {% for profissional in profissionais_saude %}
                                    <option value="{{ profissional.id }}"
                                            {% if request.GET.profissional_saude == profissional.id|stringformat:"s" %}
                                            selected{% endif %}>{{ profissional.nome }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Botão para abrir o Modal -->
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agendamentoModal{{ agendamento.id }}">
            Agendar
        </button>
    </div>

    <div class="table-responsive">
        {#  <table id="example" class="table table-striped nowrap table-bordered"#}
        <table id="example" class="table table-striped nowrap table-bordered mb-5" 
               style="vertical-align: middle; width: 100%">
        {% comment %} <table class="table table-striped nowrap table-bordered" style="vertical-align: middle; width: 100%"> {% endcomment %}
            <thead>
            {#    <thead data-toggle="tooltip" data-popper-placement="top" title="Clique para ordenar">#}
            <tr class="custom-table-row">
                <th scope="col" class="text-center">Paciente</th>
                <th scope="col" class="text-center">CPF</th>
                <th scope="col" class="text-center">Profissional de Saúde</th>
                <th scope="col" class="text-center">Data do Agendamento</th>

                <th scope="col" class="text-center" style="cursor: help;" data-toggle="tooltip"
                    data-popper-placement='top' title="Informações" id="scroll-to-bottom-icon">

                    P.A&nbsp;<i class="fa fa-asterisk" style="font-size: 7px;  color: red;"></i>
                </th>

                <th scope="col" class="text-center">Turno</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
            </thead>

            <tbody>
            {% for agendamento in agendamentos %}
                <tr>
                    <td> {{ agendamento.paciente.get_display_name }}</td>

                    <td>{{ agendamento.paciente.cpf }}</td>
                    <td> {{ agendamento.profissional_saude.get_display_name }} </td>
                    <td>{{ agendamento.data_agendamento | date:"d/m/Y " }}</td>
                    <td>
                        {% if agendamento.prioridade_atendimento %}
                            <i class="fa fa-circle text-success text-center"></i>
                        {% else %}
                            <i class="fa fa-circle text-danger text-center"></i>
                        {% endif %}
                    </td>

                    <td>
                        {% if agendamento.turno == 'manha' %}
                            Manhã
                        {% elif agendamento.turno == 'tarde' %}
                            Tarde
                        {% else %}
                            {{ agendamento.turno }}
                        {% endif %}
                    </td>
                
                
                    {# Status #}
                    <td>
                        {% if agendamento.status_atendimento == 'pendente' %}
                            <div class="btn-group" role="group" aria-label="Status">
                                <a href="{% url 'agendamentoConfirmar' agendamento.id %}" class="btn btn-success">Confirmar</a>
                            </div>
                        {% elif agendamento.status_atendimento == 'confirmado' %}
                            <div class="rounded-1 bg-success text-center text-white">
                                Confirmado
                            </div>
                        {% elif agendamento.status_atendimento == 'em_andamento' %}
                            <div class="rounded-1 bg-info text-center text-white">
                                Em Atendimento
                            </div>
                        {% elif agendamento.status_atendimento == 'ausente' %}
                            <div class="rounded-1 bg-warning text-center">
                                Ausente
                            </div>
                        {% elif agendamento.status_atendimento == 'atendido' %}
                            <div class="rounded-1 bg-primary text-center text-white">
                                Atendido
                            </div>
                        {% else %}
                            <div class="rounded-1 bg-danger text-center text-white">
                                Cancelado
                            </div>
                        {% endif %}
                    </td>
                    
                    {# Ações #}
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações">
                            <button type="button"
                                    class="btn btn-secondary ms-1 btn-lg custom-btn"
                                    data-status="{{ agendamento.status_atendimento }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#reagendarModal{{ agendamento.id }}"
                                    title="Reagendar"
                                    {% if agendamento.status_atendimento != 'pendente' %}disabled{% endif %}>
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                            </button>

                            <button type="button"
                                class="btn btn-danger ms-1 btn-lg custom-btn {% if not agendamento.cancelar_pend_confir %}disabled{% endif %}"
                                data-status="{{ agendamento.status_atendimento }}" data-bs-toggle="modal"
                                data-bs-target="#cancelarModal{{ agendamento.id }}" title="Cancelar">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                            {% if agendamento.status_atendimento == 'confirmado' %}
                            <button type="button"
                                    class="btn btn-success ms-1 btn-lg custom-btn"
                                    onclick="verificarPermissao('{% url 'criar_atendimento' agendamento.id %}')"
                                    title="Atender">
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            </button>
                            {% else %}
                                <button type="button"
                                        class="btn btn-success ms-1 btn-lg custom-btn disabled"
                                        disabled>
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                </button>
                            {% endif %}

                            <button type="button" class="btn btn-info ms-1 btn-lg custom-btn"
                                    onclick="redirecionar('{% url 'confirmAgendamento' agendamento.id %}')"
                                    title="Visualizar"><i class="fa fa-eye" aria-hidden="true"></i></button>
                        </div>

                        <!-- Modal para cancelar agendamento -->
                        <div class="modal fade" id="cancelarModal{{ agendamento.id }}" tabindex="-1" 
                                aria-labelledby="cancelarModalLabel{{ agendamento.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelarModalLabel{{ agendamento.id }}">Cancelar Agendamento</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Ao cancelar esse agendamento ele não poderá mais ser atendido. Informe a justificativa para o cancelamento:</p>
                                        <textarea id="justificativa_cancelamento_{{ agendamento.id }}" class="form-control" rows="4" placeholder="Digite a justificativa aqui"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <button type="button" class="btn btn-danger" 
                                                onclick="cancelarAgendamento({{ agendamento.id }})">
                                            Confirmar Cancelamento
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Área de Confirmação -->
                            <div id="confirmationArea{{ agendamento.id }}" class="confirmation-area d-none mt-4">
                                <div class="card mx-auto" style="width: 800px;">
                                    <div class="card-body text-center">
                                        <h4>Agendamento Cancelado com Sucesso</h4>
                                        <div class="d-flex justify-content-between mt-2">
                                            <a class="btn btn-primary btn-sm"
                                                href="{% url 'comprovante_cancelamento' agendamento.id %}?justificativa=" 
                                                onclick="this.href += encodeURIComponent(document.getElementById('justificativa_cancelamento_{{ agendamento.id }}').value)"
                                                target="_blank">
                                                Baixar Comprovante &nbsp;<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                            </a>
                                            <button class="btn btn-warning" id="voltarParaAgendamento{{ agendamento.id }}" 
                                                    data-bs-dismiss="modal">
                                                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                                                &nbsp;Retornar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Modal de Restrição de Acesso -->
                        <div class="modal fade" id="restricaoModal" tabindex="-1" 
                             aria-labelledby="restricaoModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="restricaoModalLabel" style="margin-left: 34.5%;">Acesso Restrito</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    
                                    <div class="modal-body" style="text-align: center;">
                                        <div style="display: flex; justify-content: center;">
                                            <img id="cadeado" src="{% static 'imagens/cadeado.png' %}" alt="" style="width: 50px; height: auto;">
                                        </div>
                                        
                                        <p>Desculpe, mas você não tem permissão para acessar esta funcionalidade. 
                                            Por favor, entre em contato com o administrador do sistema para obter mais informações.</p>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <!-- Modal de Reagendamento -->
                        <div class="modal fade" id="reagendarModal{{ agendamento.id }}" tabindex="-1"
                             aria-labelledby="reagendarModalLabel{{ agendamento.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reagendarModalLabel{{ agendamento.id }}">
                                            Reagendar Atendimento
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                
                                    <div class="modal-body">
                                        <div id="errorContainer{{ agendamento.id }}"></div>
                                        <form id="reagendarForm{{ agendamento.id }}" method="POST">
                                            {% csrf_token %}
                                            <div class="mb-3">
                                                <label for="profissional_saude">Profissional de Saúde</label>
                                                <select id="profissional_saude_{{ agendamento.id }}"
                                                        name="profissional_saude" class="form-select">
                                                    {% for profissional in profissionais_saude %}
                                                        <option value="{{ profissional.id }}"
                                                                {% if agendamento.profissional_saude.id == profissional.id %}selected{% endif %}>
                                                            {% if profissional.nome_social %}
                                                                {{ profissional.nome_social }}
                                                            {% else %}
                                                                {{ profissional.nome }}
                                                            {% endif %}

                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="mb-3">
                                                <label for="data_agendamento">Data do Agendamento</label>
                                                <input type="date" id="data_agendamento_{{ agendamento.id }}"
                                                       name="data_agendamento" class="form-control"
                                                       value="{{ agendamento.data_agendamento|date:'Y-m-d' }}">
                                            </div>
                                            <div class="mb-3">
                                                <label for="turno">Turno</label>
                                                <select id="turno_{{ agendamento.id }}" name="turno"
                                                        class="form-select">
                                                    <option value="manha"
                                                            {% if agendamento.turno == 'manha' %}selected{% endif %}>
                                                        Manhã
                                                    </option>
                                                    <option value="tarde"
                                                            {% if agendamento.turno == 'tarde' %}selected{% endif %}>
                                                        Tarde
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="mb-3 form-check">
                                                <input type="checkbox" id="prioridade_atendimento_{{ agendamento.id }}"
                                                       name="prioridade_atendimento" class="form-check-input"
                                                       {% if agendamento.prioridade_atendimento %}checked{% endif %}>
                                                <label class="form-check-label"
                                                       for="prioridade_atendimento_{{ agendamento.id }}">Prioridade de
                                                    Atendimento</label>
                                            </div>
                                            <div class="text-center">
                                                <button type="button" class="btn btn-primary"
                                                        onclick="reagendarAgendamento({{ agendamento.id }})">Reagendar
                                                </button>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <hr>

    <div>
        <div>
            <i  class="fa fa-asterisk" style="font-size: 7px; color: red;"></i>&nbsp;
        </div>

        <div style="font-size: 16px" >
            <i class="fa fa-circle text-success text-center"></i>&nbsp;
            <i>Prioridade no atendimento.</i>
            <br>
            <i class="fa fa-circle text-danger text-center"></i>&nbsp;
            <i>Sem prioridade.</i>

        </div>
    </div>


<!-- Modal de Agendamento -->
 
    <div class="modal fade" id="agendamentoModal{{ agendamento.id }}" tabindex="-1"
         aria-labelledby="agendamentoModalLabel{{ agendamento.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agendamentoModalLabel{{ agendamento.id }}">Agendamento de Consulta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div id="errorContainerAgendamento{{ agendamento.id }}"></div>
                    <form id="agendamentoForm{{ agendamento.id }}" method="POST" action="{% url 'agendamentoCreate' %}">
                        {% csrf_token %}
                        <input type="hidden" name="status_atendimento" value="pendente"/>
                        <input type="hidden" id="id_paciente" name="paciente">
                        <input type="hidden" id="id_profissional_saude" name="profissional_saude">

                        <div class="mb-3">
                            <label for="id_paciente" class="form-label"><b>Paciente</b></label>
                            <div class="d-flex">
                                <input type="text" id="paciente-search" class="form-control" placeholder="Buscar paciente"
                                       style="border-radius: 4px 0 0 4px; border-right: none;">
                                <button type="button" id="paciente-dropdown-btn" class="btn btn-secondary" style="border-radius: 0 4px 4px 0;">
                                    Selecionar
                                </button>
                            </div>
                            
                            <div id="paciente-dropdown" class="dropdown-menu" style="display: none; max-height: 200px; overflow-y: auto;">
                                <!-- lista de pacientes -->
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="id_profissional_saude" class="form-label"><b>Profissional de Saúde</b></label>
                            <div class="d-flex">
                                <input type="text" id="profissional-search" class="form-control" 
                                       placeholder="Buscar profissional de saúde" style="border-radius: 4px 0 0 4px; border-right: none;">
                                <button type="button" id="profissional-dropdown-btn" class="btn btn-secondary" 
                                        style="border-radius: 0 4px 4px 0;">
                                    Selecionar
                                </button>
                            </div>
                            
                            <div id="profissional-dropdown" class="dropdown-menu" style="display: none; max-height: 200px; overflow-y: auto;">
                                <!-- lista de profissionais -->
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="id_data_agendamento" class="form-label"><b>Data da Consulta</b></label>
                            {{ form.data_agendamento }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_turno" class="form-label"><b>Turno</b></label>
                            {{ form.turno }}
                        </div>

                        <div class="mb-3 form-check">
                            
                            {{ form.prioridade_atendimento }}
                            <label class="form-check-label" for="id_prioridade_atendimento"><b>Prioridade de
                                Atendimento</b></label>
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" class="btn btn-primary" style="margin-right: 10px;"><b>Agendar</b>
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Cancelar</b>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>


        <!-- Área de Confirmação -->
        <div id="confirmationArea{{ agendamento.id }}" class="confirmation-area d-none mt-4">
            <div class="card mx-auto" style="width: 800px;">
                <div class="card-body">
                    <h4>Confirmação de Agendamento</h4>
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>Paciente:</th>
                            <td id="confirmPaciente{{ agendamento.id }}"></td>
                        </tr>
                        <tr>
                            <th>Profissional de Saúde:</th>
                            <td id="confirmProfissionalSaude{{ agendamento.id }}"></td>
                        </tr>
                        <tr>
                            <th>Data do Agendamento:</th>
                            <td id="confirmDataAgendamento{{ agendamento.id }}"></td>
                        </tr>
                        <tr>
                            <th>Turno:</th>
                            <td id="confirmTurno{{ agendamento.id }}"></td>
                        </tr>
                        <tr>
                            <th>Prioridade de Atendimento:</th>
                            <td id="confirmPrioridadeAtendimento{{ agendamento.id }}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-between mt-2">
                        <a class="btn btn-primary btn-sm" id="downloadComprovante{{ agendamento.id }}" href="#"
                           target="_blank">
                            Baixar Comprovante &nbsp;<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                        </a>
                        <button class="btn btn-warning" data-bs-dismiss="modal">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            &nbsp;Voltar para agendamento
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal para exibir agendamentos cancelados -->
<div class="modal fade" id="modalCancelados" tabindex="-1" aria-labelledby="modalCanceladosLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCanceladosLabel">Agendamentos Cancelados</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Data</th>
                            <th>Justificativa</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agendamento in agendamentos_cancelados %}
                            <tr>
                                <td>{{ agendamento.paciente.nome }}</td>
                                <td>{{ agendamento.data_agendamento|date:"d/m/Y" }}</td>
                                <td>{{ agendamento.justificativa_cancelamento }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm"
                                    href="{% url 'comprovante_cancelamento' agendamento.id %}"
                                    target="_blank">
                                    Baixar Comprovante &nbsp;<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


    <button onclick="voltarTopo()" id="btnTopo">
        <i id="arrow" class="fa fa-arrow-up"></i>
    </button>


    <script>

        {# Rolar para o final da página #}
        $(document).ready(function () {
            $('#scroll-to-bottom-icon').on('click', function () {
                $('html, body').animate({scrollTop: $(document).height()}, 'fast');
            });
        });


        document.addEventListener("DOMContentLoaded", function () {
            new DataTable("#example", {
                responsive: true,
                language: {
                    url: '//cdn.datatables.net/plug-ins/2.0.3/i18n/pt-PT.json',
                },
            });
        });

          $(document).ready(function() {
            $('#profissional_saude').change(function() {
              $(this).closest('form').submit();
            });
          });

          function redirecionar(url) {
            window.location.href = url;
          }

          function cancelarAgendamento(agendamentoId) {
            var button = document.querySelector('[data-bs-target="#cancelarModal' + agendamentoId + '"]');
            var status = button.getAttribute('data-status');
        
            var justificativa = document.getElementById('justificativa_cancelamento_' + agendamentoId).value;
        
            $.ajax({
                type: 'POST',
                url: '/cancelar_agendamento/' + agendamentoId + '/',
                data: {
                    'justificativa': justificativa,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    if (response.success) {
                        // Esconder o modal de cancelamento
                        //var modalElement = document.getElementById('cancelarModal' + agendamentoId);
                        //var modal = bootstrap.Modal.getInstance(modalElement);
                        //modal.hide(); // Apenas oculta o modal
        
                        // Exibir a área de confirmação
                        var confirmationArea = document.getElementById('confirmationArea' + agendamentoId);
                        confirmationArea.classList.remove('d-none');
        
                        // Adicionar o evento de recarregar a página quando o botão "Voltar para agendamento" for clicado
                        document.getElementById('voltarParaAgendamento' + agendamentoId).addEventListener('click', function() {
                            location.reload();
                        });
                    } else {
                        alert('Erro: ' + response.errors);
                    }
                },
                error: function(response) {
                    alert('Ocorreu um erro ao cancelar o agendamento.');
                }
            });
        }
        
        
        {% comment %} // Adicionar evento para recarregar a página quando o botão "Voltar para agendamento" for clicado
        document.querySelectorAll('.btn-warning').forEach(function(button) {
            button.addEventListener('click', function() {
                location.reload();
            });
        });
        
        // Adicionar evento para recarregar a página quando o modal for fechado
        document.querySelectorAll('.modal').forEach(function(modal) {
            modal.addEventListener('hidden.bs.modal', function () {
                location.reload();
            });
        }); {% endcomment %}

          function reagendarAgendamento(agendamentoId) {
            console.log("Reagendando agendamento com ID:", agendamentoId);
            var status = document.querySelector('[data-bs-target="#reagendarModal' + agendamentoId + '"]').getAttribute('data-status');

            if (status !== 'pendente') {
                alert('Este agendamento não pode ser reagendado porque não está pendente.');
                return;
            }

            var form = $('#reagendarForm' + agendamentoId);
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: '/reagendar/agendamento/' + agendamentoId + '/',
                data: formData,
                success: function(response) {
                    if (response.success) {
                        location.reload();
                    } else {
                        var errorContainer = $('#errorContainer' + agendamentoId);
                        errorContainer.empty(); // Limpar erros anteriores

                        var errors = response.errors;
                        var errorMessages = '';
                        for (var field in errors) {
                            if (errors.hasOwnProperty(field)) {
                                errors[field].forEach(function(error) {
                                    errorMessages += '<p class="text-danger">' + error.message + '</p>';
                                });
                            }
                        }
                        errorContainer.html(errorMessages);
                    }
                },
                error: function(response) {
                    alert('Ocorreu um erro ao reagendar o agendamento.');
                }
            });
        }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('form[id^="agendamentoForm"]').forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    const formData = new FormData(form);
                    const agendamentoId = form.id.replace('agendamentoForm', '');

                    fetch(form.action, {
                        method: 'POST',
                        headers: {
                            'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                        },
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            const errorContainer = document.getElementById(`errorContainerAgendamento${agendamentoId}`);
                            errorContainer.innerHTML = ''; // Limpar erros anteriores
                            if (data.success) {
                                document.getElementById(`confirmPaciente${agendamentoId}`).innerText = data.agendamento.paciente;
                                document.getElementById(`confirmProfissionalSaude${agendamentoId}`).innerText = data.agendamento.profissional_saude;
                                document.getElementById(`confirmDataAgendamento${agendamentoId}`).innerText = data.agendamento.data_agendamento;
                                document.getElementById(`confirmTurno${agendamentoId}`).innerText = data.agendamento.turno;
                                document.getElementById(`confirmPrioridadeAtendimento${agendamentoId}`).innerText = data.agendamento.prioridade_atendimento;
                                document.getElementById(`downloadComprovante${agendamentoId}`).href = data.agendamento.download_url;

                                const confirmationArea = document.getElementById(`confirmationArea${agendamentoId}`);
                                confirmationArea.classList.remove('d-none');
                                confirmationArea.scrollIntoView({behavior: 'smooth'});

                                const agendamentoModal = new bootstrap.Modal(document.getElementById(`agendamentoModal${agendamentoId}`));
                                agendamentoModal.hide();
                            } else {
                                if (data.errors) {
                                    if (data.errors.data_agendamento) {
                                        const errorMessages = data.errors.data_agendamento.map(error => {
                                            return `<div class="alert alert-danger">${error.message}</div>`;
                                        }).join('');
                                        errorContainer.innerHTML = `<div>${errorMessages}</div>`;
                                    } else {
                                        const errorMessages = Object.values(data.errors).flat().map(error => {
                                            return `<div class="alert alert-danger">${error.message}</div>`;
                                        }).join('');
                                        errorContainer.innerHTML = `<div>${errorMessages}</div>`;
                                    }
                                } else {
                                    errorContainer.innerHTML = '<div class="alert alert-danger">' +
                                        'Erro desconhecido ao processar o formulário.</div>';
                                }
                            }
                        })
                        .catch(error => console.error('Erro:', error));
                });
            });

            // quando fechar o modal ou clicar no botão de voltar, recarregar a página
            document.querySelectorAll('[data-bs-dismiss="modal"]').forEach(function (button) {
                button.addEventListener('click', function () {
                    location.reload();
                });
            });

            document.querySelectorAll('.modal').forEach(function (modal) {
                modal.addEventListener('hidden.bs.modal', function () {
                    location.reload();
                });
            });
        });

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const forms = document.querySelectorAll('form[id^="agendamentoForm"]');
            forms.forEach(form => {
                form.addEventListener('submit', function (event) {
                    const paciente = form.querySelector('#id_paciente').value;
                    const dataAgendamento = form.querySelector('#id_data_agendamento').value;

                    if (!paciente || !dataAgendamento) {
                        event.preventDefault();
                        alert('Por favor, preencha todos os campos obrigatórios.');
                    }
                });
            });
        });

        function verificarPermissao(url) {
            // Faz uma solicitação AJAX para verificar a permissão
            fetch(url, {
                method: 'GET',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'  // Cabeçalho necessário para a verificação AJAX
                }
            })
            .then(response => {
                if (response.status === 403) {
                    // Se a resposta é 403 (proibido), exibe o modal de restrição
                    var restricaoModal = new bootstrap.Modal(document.getElementById('restricaoModal'));
                    restricaoModal.show();
                } else {
                    // Se o usuário tem permissão, redireciona para a URL
                    window.location.href = url;
                }
            })
            .catch(error => console.error('Erro ao verificar permissão:', error));
        }
        
        
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownBtn = document.getElementById('paciente-dropdown-btn');
            const dropdownMenu = document.getElementById('paciente-dropdown');
            const pacienteInput = document.getElementById('paciente-search');
            const pacienteHiddenInput = document.getElementById('id_paciente'); // Campo oculto para o ID do paciente
        
            // Função para exibir o dropdown
            function showDropdown() {
                dropdownMenu.style.display = 'block'; // Mostrar o dropdown
            }
        
            // Função para ocultar o dropdown
            function hideDropdown() {
                dropdownMenu.style.display = 'none'; // Esconder o dropdown
            }
        
    // Função para buscar pacientes
    function fetchPacientes(query = '') {
        fetch(`/search_paciente/?q=${encodeURIComponent(query)}`)
            .then(response => response.json())
            .then(data => {
                dropdownMenu.innerHTML = ''; // Limpar o dropdown antes de exibir os novos resultados
                
                if (data.length === 0) {
                    const noResult = document.createElement('div');
                    noResult.classList.add('dropdown-item');
                    noResult.textContent = 'Nenhum paciente encontrado';
                    dropdownMenu.appendChild(noResult);
                } else {
                    data.forEach(paciente => {
                        const option = document.createElement('div');
                        option.classList.add('dropdown-item');
                        option.textContent = paciente.nome;
                        option.dataset.id = paciente.id; // Adicionar o ID ao dataset

                        // Adiciona evento de clique para selecionar o paciente
                        option.addEventListener('click', function () {
                            pacienteInput.value = paciente.nome; // Atualizar o campo de busca com o nome do paciente
                            pacienteHiddenInput.value = paciente.id; // Definir o ID do paciente no campo oculto
                            dropdownMenu.style.display = 'none'; // Esconder o dropdown
                        });

                        dropdownMenu.appendChild(option);
                    });
                }
                dropdownMenu.style.display = 'block'; // Mostrar o dropdown com os resultados
            })
            .catch(error => {
                console.error('Erro ao buscar pacientes:', error);
            });
    }


        
            // Evento de clique no input de busca para exibir o dropdown
            pacienteInput.addEventListener('click', function () {
                fetchPacientes(pacienteInput.value); // Fazer a busca com o valor atual (mesmo vazio)
            });

            // Abrir e fechar o dropdown ao clicar no botão
            dropdownBtn.addEventListener('click', function () {
                if (dropdownMenu.style.display === 'none' || dropdownMenu.style.display === '') {
                    dropdownMenu.style.display = 'block'; // Exibir dropdown
                    fetchPacientes(); // Carregar pacientes
                } else {
                    dropdownMenu.style.display = 'none'; // Fechar dropdown
                }
            });
        
            // Evento de input para exibir o dropdown enquanto o usuário digita
            pacienteInput.addEventListener('input', function () {
                const query = pacienteInput.value;
                if (query.length > 0) {
                    fetchPacientes(query); // Fazer a busca enquanto o usuário digita
                } else {
                    hideDropdown(); // Esconder o dropdown se o campo estiver vazio
                }
            });
        
            // Evento para ocultar o dropdown se o usuário clicar fora dele
            document.addEventListener('click', function (event) {
                if (!dropdownMenu.contains(event.target) && !pacienteInput.contains(event.target)) {
                    hideDropdown(); // Esconder o dropdown se clicar fora do campo ou dropdown
                }
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Variáveis para o profissional de saúde
            const dropdownBtnProfissional = document.getElementById('profissional-dropdown-btn');
            const dropdownMenuProfissional = document.getElementById('profissional-dropdown');
            const profissionalInput = document.getElementById('profissional-search');
            const profissionalHiddenInput = document.getElementById('id_profissional_saude'); // Campo oculto para o ID do profissional
    
            // Função para exibir o dropdown de profissionais
            function showDropdownProfissional() {
                dropdownMenuProfissional.style.display = 'block'; // Mostrar o dropdown
            }
    
            // Função para ocultar o dropdown de profissionais
            function hideDropdownProfissional() {
                dropdownMenuProfissional.style.display = 'none'; // Esconder o dropdown
            }
    
            // Função para buscar profissionais de saúde
            function fetchProfissionais(query = '') {
                fetch(`/search_profissional/?q=${encodeURIComponent(query)}`)
                    .then(response => response.json())
                    .then(data => {
                        dropdownMenuProfissional.innerHTML = ''; // Limpar o dropdown antes de exibir os novos resultados
                        
                        if (data.length === 0) {
                            const noResult = document.createElement('div');
                            noResult.classList.add('dropdown-item');
                            noResult.textContent = 'Nenhum profissional encontrado';
                            dropdownMenuProfissional.appendChild(noResult);
                        } else {
                            data.forEach(profissional => {
                                const option = document.createElement('div');
                                option.classList.add('dropdown-item');
                                option.textContent = profissional.nome;
                                option.dataset.id = profissional.id; // Adicionar o ID ao dataset
    
                                // Adiciona evento de clique para selecionar o profissional
                                option.addEventListener('click', function () {
                                    profissionalInput.value = profissional.nome; // Atualizar o campo de busca com o nome do profissional
                                    profissionalHiddenInput.value = profissional.id; // Definir o ID do profissional no campo oculto
                                    dropdownMenuProfissional.style.display = 'none'; // Esconder o dropdown
                                });
    
                                dropdownMenuProfissional.appendChild(option);
                            });
                        }
                        dropdownMenuProfissional.style.display = 'block'; // Mostrar o dropdown com os resultados
                    })
                    .catch(error => {
                        console.error('Erro ao buscar profissionais:', error);
                    });
            }
    
            // Evento de clique no input de busca para exibir o dropdown de profissionais
            profissionalInput.addEventListener('click', function () {
                fetchProfissionais(profissionalInput.value); // Fazer a busca com o valor atual (mesmo vazio)
            });
    
            // Abrir e fechar o dropdown ao clicar no botão
            dropdownBtnProfissional.addEventListener('click', function () {
                if (dropdownMenuProfissional.style.display === 'none' || dropdownMenuProfissional.style.display === '') {
                    dropdownMenuProfissional.style.display = 'block'; // Exibir dropdown
                    fetchProfissionais(); // Carregar profissionais
                } else {
                    dropdownMenuProfissional.style.display = 'none'; // Fechar dropdown
                }
            });
    
            // Evento de input para exibir o dropdown enquanto o usuário digita
            profissionalInput.addEventListener('input', function () {
                const query = profissionalInput.value;
                if (query.length > 0) {
                    fetchProfissionais(query); // Fazer a busca enquanto o usuário digita
                } else {
                    hideDropdownProfissional(); // Esconder o dropdown se o campo estiver vazio
                }
            });
    
            // Evento para ocultar o dropdown se o usuário clicar fora dele
            document.addEventListener('click', function (event) {
                if (!dropdownMenuProfissional.contains(event.target) && !profissionalInput.contains(event.target)) {
                    hideDropdownProfissional(); // Esconder o dropdown se clicar fora do campo ou dropdown
                }
            });
        });
    </script>

    <script>
        function verificarPermissao(atendimentoUrl) {
            // URL para registrar o início do atendimento
            const inicioAtendimentoUrl = `/registrar_inicio_atendimento/${atendimentoUrl.split('/').pop()}/`;
        
            // Faz a requisição AJAX para registrar o início do atendimento
            fetch(inicioAtendimentoUrl, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                    'Content-Type': 'application/json',
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Redireciona para a URL de criação de atendimento
                    window.location.href = atendimentoUrl;
                } else {
                    alert('Erro ao registrar o início do atendimento.');
                }
            })
            .catch(error => {
                console.error('Erro na requisição AJAX:', error);
                alert('Erro ao registrar o início do atendimento.');
            });
        }
        </script>
        
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const modal = document.getElementById('relatorioModal');
                modal.addEventListener('show.bs.modal', function() {
                    fetch('/relatorios/', {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('totalAtendimentos').textContent = data.total_atendimentos;
                        document.getElementById('totalCancelados').textContent = data.total_cancelados;
                        document.getElementById('pacientesAtendidos').textContent = data.pacientes_atendidos.join(', ');
        
                        const atendimentosPorTurno = document.getElementById('atendimentosPorTurno');
                        atendimentosPorTurno.innerHTML = '';
                        for (const [turno, total] of Object.entries(data.atendimentos_por_turno)) {
                            const li = document.createElement('li');
                            li.textContent = `${turno}: ${total}`;
                            atendimentosPorTurno.appendChild(li);
                        }
                    });
                });
            });
        </script>
    

    <style>
        .dataTables_filter {
            display: flex;
            justify-content: flex-end;
        }
        
        #ui-datepicker-div{
            opacity: 0; /* para o bug datepicker*/
        }


        #paciente-dropdown {
            border: 1px solid #ced4da;
            border-top: none;
            background-color: #fff;
        }
        
        #paciente-dropdown.show {
            display: block;
        }

    </style>

{% endblock %}
