{% extends "base.html" %}

{% block title %}Lista do  administrativo{% endblock %}

{% block content %}
  <h4>Lista do administrativo</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>E-mail</th>
        <th>RG</th>
        <th>CPF</th>
        <th>Sexo</th>
        <th>Crago/Função</th>
        <th>Matricula SIAPE</th>
        <th>Órgão</th>
        <th>Lotação de Exercício</th>
        <th>Ações</th>
       
        
       
      </tr>
    </thead>
    <tbody>
      {% for administrativo in administrativo %}
      <tr>
        <td>{{ administrativo.nome }}</td>
        <td>{{ administrativo.data_nascimento | date:"d/m/Y " }}</td>
        <td>{{ administrativo.email }}</td>
        <td>{{ administrativo.rg }}</td>
        <td>{{ administrativo.cpf }}</td>
        <td>{{ administrativo.get_sexo_display }}</td>
        <td>{{ administrativo.cargo_funcao }}</td>
        <td>{{ administrativo.matricula_siape }}</td>
        <td>{{ administrativo.orgao }}</td>
        <td>{{ administrativo.lotacao_de_exercicio }}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Ações">
            <a href="{% url 'administrativoEditar' administrativo.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'administrativoExcluir' administrativo.id %}" class="btn btn-danger ms-1">Excluir</a>
          </div>
        </td>
      </tr>
       {% endfor %}
  </tbody>
</table>
<div class="d-flex justify-content-between">
  <a class="btn btn-primary" href="{% url 'home' %}">Voltar</a>
  <a class="btn btn-primary" href="{% url 'administrativoCreate'  %}">Cadastrar</a>
</div>
{% endblock %}