{% extends 'base.html' %}

{% block title %}
  Restrição de acesso
{% endblock %}

{% block content %}

{% load static %}



<div class="content">
    <img src="{% static 'imagens/cadeado.png' %}" alt="Cadeado" class="icon">
    
    <h1 class="title">Acesso Restrito</h1>
    <p class="description">
        Desculpe, mas você não tem permissão para acessar esta página. Por favor, entre em contato com o administrador
        do sistema para obter mais informações.
    </p>
    <div class="button-container">
        <a href="{% url 'agendamentoListagem' %}" class="back-button">Voltar</a>
    </div>
</div>

<style>
    .content {
        width: 100%;
        text-align: center; 
        padding: 30px; 
    }
    
    .icon {
        height: 48px; 
        width: 48px;
        margin: 0 auto; 
        display: block;
        color: #0d6efd; 
    }
    
    .title {
        margin-top: 16px; 
        font-size: 2em; 
        font-weight: bold; 
        color: #333333; 
    }
    
    .description {
        margin-top: 16px; 
        color: #6c757d; 
    }
    
    .button-container {
        margin-top: 24px; 
    }
    
    .back-button {
        display: inline-block;
        background-color: #0d6efd; 
        color: #ffffff; 
        padding: 10px 20px; 
        font-size: 0.875em; 
        font-weight: 500; 
        border-radius: 4px; 
        text-decoration: none; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        transition: background-color 0.3s; 
    }
    
    .back-button:hover {
        background-color: #0b5ed7; 
    }
    
    .back-button:focus {
        outline: none; 
        box-shadow: 0 0 0 3px rgba(13, 110, 253, 0.4); 
    }
</style>
{% endblock %}