{% extends 'base.html' %}

{% block title %}
  Visualizar Atendimento
{% endblock %}

{% block content %}
  {% load tz %}

    <div class="text-center mb-4 custom-title">
      <h4>Detalhes do Atendimento</h4>
    </div>

    {% comment %} <div class="d-flex justify-content-between pb-3">
      <a href="{% url 'atestado_medico' paciente.id %}" class="btn btn-primary">Atestado Medico</a>

      <a class="btn btn-primary btn-expand-all" href="#">Receita Medica</a>
      <a class="btn btn-primary" href="">Laudo Medico</a>
    </div> {% endcomment %}

    <div class="detalhes-atendimentos">
      <div class="">
        <div class="">
          <dl class="row border p-3 align-items-start">
            <dt class="col-sm-2 border-bottom">Profissional de Saúde:</dt>
            <dd class="col-sm-10 border-bottom">{{ atendimento.agendamento.profissional_saude.nome }}</dd>

            <dt class="col-sm-2 border-bottom">Nome do paciente:</dt>
            <dd class="col-sm-4 border-bottom">{{ atendimento.agendamento.paciente.nome }}</dd>

            <dt class="col-sm-2 border-bottom">Tipo de paciente:</dt>
            <dd class="col-sm-4 border-bottom">{{ atendimento.agendamento.paciente.tipo_paciente }}</dd>

            <dt class="col-sm-3 border-bottom">Data do Agendamento:</dt>
            <dd class="col-sm-9 border-bottom">{{ atendimento.agendamento.data_agendamento|date:'d/m/Y' }}</dd>

            <dt class="col-sm-2 border-bottom" id="pdfs-name">pdf exames:</dt>
            <dd class="col-sm-10 border-bottom" id="pdfs">
              {% comment %} {% if atendimento.pdf_exames %} {% endcomment %}
                <a href="{% url 'visualizar_pdf_exames' atendimento_id=atendimento.id %}" target="_blank">{{ atendimento.pdf_exames.name }}</a>
              {% comment %} {% else %} {% endcomment %}
                Sem PDF anexado
              {% comment %} {% endif %} {% endcomment %}
              <form method="post" enctype="multipart/form-data">
                <input type="file" name="pdf_exames" />
                <button type="submit">Upload</button>
              </form>
            </dd>

            <dt class="col-sm-2 border-bottom" id="pdfs-name">pdf extra:</dt>
            <dd class="col-sm-10 border-bottom" id="pdfs">
              {% comment %} {% if atendimento.pdf_extra %} {% endcomment %}
                <a href="" target="_blank">{{ atendimento.pdf_extra.name }}</a>
              {% comment %} {% else %} {% endcomment %}
                Sem PDF anexado
              {% comment %} {% endif %} {% endcomment %}
              <form method="post" enctype="multipart/form-data">
                <input type="file" name="pdf_extra" />
                <button type="submit">Upload</button>
              </form>
            </dd>

            <h6 class="d-flex justify-content-center py-3">RESULTADOS</h6>

            <dl class="p-3">
              <dt class="border-bottom">Anamnese:</dt>
              <dd class="border-bottom">{{ atendimento.anamnese }}</dd>

              <dt class="border-bottom">Exames Físicos:</dt>
              <dd class="border-bottom">{{ atendimento.exame_fisico }}</dd>

              <dt class="border-bottom">Exames Complementares:</dt>
              <dd class="border-bottom">{{ atendimento.exames_complementares }}</dd>

              <dt class="border-bottom">Diagnóstico:</dt>
              <dd class="border-bottom">{{ atendimento.diagnostico }}</dd>

              <dt class="border-bottom">Conduta:</dt>
              <dd>{{ atendimento.conduta }}</dd>
            </dl>
          </dl>
        </div>
      </div>
    </div>

    

  <style>

    
    dl #pdfs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3em;
    }
    
    dl #pdfs-name {
      display: flex;
      height: 3em;
      align-items: center;
    }
    

  </style>
{% endblock %}
