{% extends 'base.html' %}

{% block title %}
  Visualizar Atendimento
{% endblock %}

{% block content %}
  {% load tz %}

  <div class="text-center mb-4 text-white">
    <h4>DETALHES DO ATENDIMENTO</h4>
  </div>

  {% comment %} <div class="d-flex justify-content-between pb-3">
    <a href="{% url 'atestado_medico' paciente.id %}" class="btn btn-primary">Atestado Medico</a>

    <a class="btn btn-primary btn-expand-all" href="#">Receita Medica</a>
    <a class="btn btn-primary" href="">Laudo Medico</a>
  </div> {% endcomment %}

  <div class="detalhes-atendimentos">
    <div class="">
      <div class="">
        <dl class="row border p-3 align-items-start">
          <dt class="col-sm-2 border-bottom">Profissional de Saúde:</dt>
          <dd class="col-sm-10 border-bottom">{{ atendimento.agendamento.profissional_saude.nome }}</dd>

          <dt class="col-sm-2 border-bottom">Nome do paciente:</dt>
          <dd class="col-sm-4 border-bottom">{{ atendimento.agendamento.paciente.nome }}</dd>

          <dt class="col-sm-2 border-bottom">Tipo de paciente:</dt>
          <dd class="col-sm-4 border-bottom">{{ atendimento.agendamento.paciente.tipo_paciente }}</dd>

          <dt class="col-sm-3 border-bottom">Data do Agendamento:</dt>
          <dd class="col-sm-9 border-bottom">{{ atendimento.agendamento.data_agendamento|date:'d/m/Y' }}</dd>

          <dt class="col-sm-2 border-bottom" id="pdfs-name">pdf exames:</dt>
          <dd class="col-sm-10 border-bottom" id="pdfs">
            {% comment %} {% if atendimento.pdf_exames %}
              {% endcomment %}
              <a href="{% url 'visualizar_pdf_exames' atendimento_id=atendimento.id %}" target="_blank">{{ atendimento.pdf_exames.name }}</a>
              {% comment %}
            {% else %}
              {% endcomment %}Sem PDF anexado{% comment %}
            {% endif %} {% endcomment %}
            <form method="post" enctype="multipart/form-data">
              <input type="file" name="pdf_exames" />
              <button type="submit">Upload</button>
            </form>
          </dd>

          <dt class="col-sm-2 border-bottom" id="pdfs-name">pdf extra:</dt>
          <dd class="col-sm-10 border-bottom" id="pdfs">
            {% comment %} {% if atendimento.pdf_extra %}
              {% endcomment %}
              <a href="" target="_blank">{{ atendimento.pdf_extra.name }}</a>
              {% comment %}
            {% else %}
              {% endcomment %}Sem PDF anexado{% comment %}
            {% endif %} {% endcomment %}
            <form method="post" enctype="multipart/form-data">
              <input type="file" name="pdf_extra" />
              <button type="submit">Upload</button>
            </form>
          </dd>

          <h6 class="d-flex justify-content-center py-3">RESULTADOS</h6>

          <dl class="p-3">
            <dt class="border-bottom">Anamnese:</dt>
            <dd class="border-bottom">{{ atendimento.anamnese }}</dd>

            <dt class="border-bottom">Exames Físicos:</dt>
            <dd class="border-bottom">{{ atendimento.exame_fisico }}</dd>

            <dt class="border-bottom">Exames Complementares:</dt>
            <dd class="border-bottom">{{ atendimento.exames_complementares }}</dd>

            <dt class="border-bottom">Diagnóstico:</dt>
            <dd class="border-bottom">{{ atendimento.diagnostico }}</dd>

            <dt class="border-bottom">Conduta:</dt>
            <dd>{{ atendimento.conduta }}</dd>
          </dl>
        </dl>
      </div>
    </div>
  </div>

  {% if atestado %}
    <div class="atestado">
      <a href="" target="_blank" class="print-btn" style="border: none; float: right;">
        <button class="print-btn">
          <span class="printer-wrapper">
            <span class="printer-container">
              <svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 92 75">
                <path stroke-width="5" stroke="black" d="M12 37.5H80C85.2467 37.5 89.5 41.7533 89.5 47V69C89.5 70.933 87.933 72.5 86 72.5H6C4.067 72.5 2.5 70.933 2.5 69V47C2.5 41.7533 6.75329 37.5 12 37.5Z"></path>
                <mask fill="white" id="path-2-inside-1_30_7">
                  <path d="M12 12C12 5.37258 17.3726 0 24 0H57C70.2548 0 81 10.7452 81 24V29H12V12Z"></path>
                </mask>
                <path mask="url(#path-2-inside-1_30_7)" fill="black" d="M7 12C7 2.61116 14.6112 -5 24 -5H57C73.0163 -5 86 7.98374 86 24H76C76 13.5066 67.4934 5 57 5H24C20.134 5 17 8.13401 17 12H7ZM81 29H12H81ZM7 29V12C7 2.61116 14.6112 -5 24 -5V5C20.134 5 17 8.13401 17 12V29H7ZM57 -5C73.0163 -5 86 7.98374 86 24V29H76V24C76 13.5066 67.4934 5 57 5V-5Z"></path>
                <circle fill="white" r="3" cy="49" cx="78"></circle>
              </svg>
            </span>
            <span class="printer-page-wrapper"><span class="printer-page"></span></span>
          </span>
          Print
        </button>
      </a>

      <div id="form-atestado">
        <div class="form-group">
          <label for="dias_afastamento">Atesto que o(a) paciente <span>{{ atestado.paciente }}</span> esteve em consulta no dia <span>{{ atendimento.agendamento.data_agendamento|date:'d/m/Y' }}</span>, e necessita de <span>{{ atestado.dias_afastamento }}</span> dias de afastamento de suas atividades normais, para sua convalescença.</label>
        </div>

        <div class="form-group">
          <label for="cid">CID: <span>{{ atestado.cid }}</span></label>
        </div>

        <p style="text-align: center;">Rio Branco - Acre {{ atestado.data_criacao|date:'d/m/Y' }}</p>

        <div class="form-group">
          <label>Profissional de Saúde:</label>
          <p>{{ atestado.profissional }}</p>
        </div>
      </div>
    </div>
  {% else %}
    <p class="text-center">Não há atestado médico disponível para este atendimento.</p>
  {% endif %}


  <h6 class="d-flex justify-content-center py-3">RECEITA MÉDICA</h6>
  <div class="receita">
    {% if receita %}
      <div class="d-flex">
        <div class="col-md-6 d-flex flex-column">
          <span class="text-center">PRESCRIÇÃO</span>
          <div class="form-group d-flex flex-column">
            {{ receita.prescricao }}
          </div>
        </div>

        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
          <div class="form-group d-flex flex-column col-md-8">
            <label>Dosagem</label>
            {{ receita.dosagem }}
          </div>
          <div class="form-group d-flex flex-column col-md-8">
            <label>Via Administrativa</label>
            {{ receita.via_administrativa }}
          </div>
          <div class="form-group d-flex flex-column col-md-8">
            <label>Modo de Uso</label>
            {{ receita.modo_uso }}
          </div>
        </div>
      </div>
    {% else %}
      <p class="text-center">Nenhuma receita médica registrada.</p>
    {% endif %}
  </div>

  <div class="d-flex justify-content-around mt-3">
    <a href="{% url 'listaAtendimentos' %}" class="btn btn-primary">Voltar para Lista de Atendimentos</a>
    <a href="{% url 'visualizar_comprovante_atendimento' atendimento_id=atendimento.id %}" class="btn btn-primary" target="_blank">Visualizar comprovante de atendimento</a>
  </div>

  <style>
/* .input {
  width: 10%;
  max-width: 220px;
  height: 30px;
  padding: 12px;
  border-radius: 5px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

.input:hover {
  border: 1px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  border: 1px solid grey;
} */

  </style>
{% endblock %}
