/* Estilo para a classe .navbar-brand que é da logo/imagem*/

.navbar-brand { 
    background-color: white; 
    width: 55px; 
    height: 74px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border-radius: 10%;
}


.navbar-toggler{
    color:#ffffff;
}

/* Estilo para as bordas arredondadas da tabela */
.custom-table {
    border-collapse: separate;
    border-spacing: 0 5px; /* Espaço entre as células */
}

.custom-table th,
.custom-table td {
    border: 2px solid #b8b0b0; /* Ajuste a cor conforme necessário */
    border-radius: 5px; /* Bordas arredondadas */
    box-shadow: 2px 2px 5px #9b9b9b; /* Adicione sombra conforme necessário */
}

.custom-table thead th {
    border-bottom-width: 2px;
    background-color: #e0e0e0; /* Cor do cabeçalho */
}

/* Estilo para o título */
.custom-title {
    font-size: 24px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
    color: #0a0101; /* Cor do texto */
    background-color: #e0e0e0; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    border: 2px solid #b8b0b0; /* Cor da borda */
    border-radius: 5px; /* Arredondamento das bordas */
    box-shadow: 2px 2px 5px #9b9b9b; /* Sombra */
    margin-bottom: 5px; /* Espaçamento abaixo do título */
}


.topo {
    color: white!important;
    font-weight: 500;
    margin-top: 12px;
    padding: 0;
    font-size: 22px;
    text-shadow: 1px 0.2px #146C2D;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Estilo para labels acima dos campos */
.label-title {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Centraliza o texto */
    font-weight: bold;
}

/* Estilo para labels dos campos do formulário */
.label-form {
    display: block;
    margin-bottom: 3px;
    text-align: center; /* Centraliza o texto */
}

/* Efeito de hover nas labels dos campos do formulário */
.row .col-md-4:hover .label-form {
    background-color: #c0c0c0; /* Altere a cor conforme necessário */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
