{% extends 'base.html' %}

{% block title %}Redefinição de Senha{% endblock %}

{% block content %}
    {% if messages %}{% include 'messages.html' %}{% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card border-primary">
                    <div class="card-header">
                        <span class="text-primary"><b>Insira seu e-mail</b></span>
                    </div>
                    <div class="card-body">
                        <div class="form-group mb-2">
                            <label for="id_email"></label>
                            {{ form.email }}
                        </div> <br><br>

                        <div class="text-center mb-3">
                            <button class="btn btn-sm btn-primary" type="submit" style="line-height: 1;">
                                <b>Enviar&nbsp;<i class="fa fa-paper-plane" aria-hidden="true"></i></b>
                            </button>
                            <button class="btn btn-sm btn-warning" type="button"
                                    onclick="window.location='{% url 'login' %}'" style="line-height: 1.9;">
                                <b><i class="fa fa-arrow-circle-left" aria-hidden="true"></i>&nbsp;Retornar</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}