<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comprovante de Atendimento</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fragment+Mono:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <style>
      body {
        font-family: 'Poppins', sans-serif;
        padding: 20px;
      }
      
      header {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #afafaf;
        flex-direction: column;
      }

      .infoufac {
        font-weight: bold;
        text-align: center;
        flex: 1;
      }
      
      #logoufac {
        width: 50px;
        height: auto;
      }
    </style>
  </head>
  <body>
    <header>
      <img id="logoufac" src="http://localhost:8000/static/imagens/logo_ufac_2.png" alt="Logo UFAC" />
      <div class="infoufac">
        <p>UNIVERSIDADE FEDERAL DO ACRE</p>
        <p>DIRETORIA DE SAÚDE E QUALIDADE DE VIDA</p>
        <p>COORDENADORIA DE VIGILÂNCIA À SAÚDE DO SERVIDOR</p>
        <p>SETOR MÉDICO PERICIAL</p>
      </div>
    </header>


    <h2 style="text-align: center; padding-bottom: 20px;">COMPROVANTE DE ATENDIMENTO</h2>

    <div class="info" style=" padding-top: 10px;">
      <p>Declaro, para os devidos fins, que o Sr(a). <strong>{{ atendimento.paciente.get_display_name }}</strong>, inscrito no CPF sob o nº <strong>{{ atendimento.paciente.cpf }}</strong>, esteve presente em consulta médica no dia <strong>{{ atendimento.agendamento.data_agendamento}}</strong>, tendo sido atendido pelo profissional de saúde <strong>{{ atendimento.agendamento.profissional_saude }}</strong>.</p>
    </div>

     <!-- Adicionando os nomes ao final do documento se existir nome social -->
    {% if atendimento.paciente.nome_social or atendimento.profissional_saude.nome_social %}
    <div style="position: absolute; bottom: 20px; width: 100%; text-align: center; font-size: large;">
      {% if atendimento.paciente.nome_social %}
      <p><strong>Nome de registro do paciente:</strong> {{ atendimento.paciente.nome }}</p>
      <p><strong>Nome Social do paciente:</strong> {{ atendimento.paciente.nome_social }}</p>
      {% endif %}

      {% if atendimento.profissional_saude.nome_social %}
      <p><strong>Nome de registro do profissional de saúde:</strong> {{ atendimento.profissional_saude.nome }}</p>
      <p><strong>Nome Social do profissional de saúde:</strong> {{ atendimento.profissional_saude.nome_social }}</p>
      {% endif %}
    </div>
    {% endif %}
  </body>
</html>
