{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Fragment+Mono:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <style>
      @page {
        size: A4 landscape; /* Configura a página para orientação paisagem */
        margin: 0;
      }

      body {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        margin: 0 50px;
      }
      
      h3 {
        text-align: center;
      }

      .page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .subt{
        text-align: center;
        width: 100%;
        border-bottom: 1px solid #cacaca;
      }
      .ident{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -12px;
        margin-bottom: -12px;
      }

      .mtb{
        margin-top: -5px;
        margin-bottom: -5px;
      }

      .vpaciente, .vfarmacia {
        width: 400px;
      }
    </style>
  </head>
  <body>
    <div class="page">
      <!-- Via do Paciente -->
      <div class="section">
        <h3>RECEITA MÉDICA DE CONTROLE ESPECIAL</h3>
  
        <div class="vpaciente">
          <div class="subt">
            <span>1° VIA DO PACIENTE</span>
          </div>

          
          <div class="info-prescricao">
            <p><strong>Data da Consulta:</strong> {{ receita.data_consulta|date:'d/m/Y' }}</p>
            <p><strong>Prescrição:</strong> {{ receita.prescricao }}</p>
            <p><strong>Dosagem:</strong> {{ receita.dosagem }}</p>
            <p><strong>Via Administrativa:</strong> {{ receita.via_administrativa }}</p>
            <p><strong>Modo de Uso:</strong> {{ receita.modo_uso }}</p>
          </div>


          <div class="info-paciente">
            <div class="subt">
              <span >INFORMAÇÕES DO COMPRADOR</span>
            </div>
            <p><strong>Paciente:</strong> {{ receita.paciente.nome }}</p>
            <p><strong>Nome Social:</strong> {{ receita.paciente.nome_social }}</p>
            <div class="ident">
              <p><strong>CPF:</strong> {{ receita.paciente.cpf }}</p>
              <p><strong>RG:</strong> {{ receita.paciente.rg }}</p>
            </div>
            <p><strong>Bairro:</strong> {{ receita.paciente.bairro }}</p>
            <div class="ident">
              <p><strong>Cidade:</strong> {{ receita.paciente.cidade }}</p>
              <p><strong>CEP:</strong> {{ receita.paciente.cep }}</p>
              <p><strong>Número:</strong> {{ receita.paciente.numero }}</p>
            </div>
          </div>

          <div class="info-fornecedor">
            <div class="subt">
              <span >INFORMAÇÕES DO FORNECEDOR</span>
            </div>
            <p><strong>Nome:</strong>________________________________________</p>
            <p><strong>Nome Social:</strong>____________________________________</p>
            <div class="ident">
              <p><strong>CPF:</strong>_________________________</p>
              <p><strong>RG:</strong>_______________</p>
            </div>
            <p><strong>Bairro:</strong>_________________________________________</p>
            <div class="ident">
              <p><strong>Cidade:</strong>__________</p>
              <p><strong>CEP:</strong>__________</p>
              <p><strong>Número:</strong>__________</p>
            </div>
  
          </div>
        </div>
  
        <div class="signature" style="text-align: center; font-size: 12px; margin-top: 5px;">
          <p class="mtb">Profissional de Saúde:</p>
          <p class="mtb"><strong>{{ receita.profissional.nome }}</strong></p>
          <label>Conselho/CMR: {{ receita.profissional.conselho }}</label>
          <p class="mtb">{{ receita.profissional.ddd_telefone }}</p>
        </div>

        <div class="rodape" style="text-align: center; font-style: italic; font-weight:300;">
          <p>Campus Universitario UFAC, BR - 364, km 04 - Distrito Industrial <br> CEP 69915-900 Telefone: (68) 3229 4835 3901 2573</p>
        </div>
      </div>
  
      <!-- Via da Farmácia -->
      <div class="section">
        <h3>RECEITA MÉDICA DE CONTROLE ESPECIAL</h3>
  
        <div class="vpaciente">
          <div class="subt">
            <span>2° VIA DA FARMACIA</span>
          </div>

          
          <div class="info-prescricao">
            <p><strong>Data da Consulta:</strong> {{ receita.data_consulta|date:'d/m/Y' }}</p>
            <p><strong>Prescrição:</strong> {{ receita.prescricao }}</p>
            <p><strong>Dosagem:</strong> {{ receita.dosagem }}</p>
            <p><strong>Via Administrativa:</strong> {{ receita.via_administrativa }}</p>
            <p><strong>Modo de Uso:</strong> {{ receita.modo_uso }}</p>
          </div>


          <div class="info-paciente">
            <div class="subt">
              <span >INFORMAÇÕES DO COMPRADOR</span>
            </div>
            <p><strong>Paciente:</strong> {{ receita.paciente.nome }}</p>
            <p><strong>Nome Social:</strong> {{ receita.paciente.nome_social }}</p>
            <div class="ident">
              <p><strong>CPF:</strong> {{ receita.paciente.cpf }}</p>
              <p><strong>RG:</strong> {{ receita.paciente.rg }}</p>
            </div>
            <p><strong>Bairro:</strong> {{ receita.paciente.bairro }}</p>
            <div class="ident">
              <p><strong>Cidade:</strong> {{ receita.paciente.cidade }}</p>
              <p><strong>CEP:</strong> {{ receita.paciente.cep }}</p>
              <p><strong>Número:</strong> {{ receita.paciente.numero }}</p>
            </div>
  
          </div>
          <div class="info-fornecedor">
            <div class="subt">
              <span >INFORMAÇÕES DO FORNECEDOR</span>
            </div>
            <p><strong>Nome:</strong>________________________________________</p>
            <p><strong>Nome Social:</strong>____________________________________</p>
            <div class="ident">
              <p><strong>CPF:</strong>_________________________</p>
              <p><strong>RG:</strong>_______________</p>
            </div>
            <p><strong>Bairro:</strong>_________________________________________</p>
            <div class="ident">
              <p><strong>Cidade:</strong>__________</p>
              <p><strong>CEP:</strong>__________</p>
              <p><strong>Número:</strong>__________</p>
            </div>
  
          </div>
        </div>
  
        <div class="signature" style="text-align: center; font-size: 12px; margin-top: 5px;">
          <p class="mtb">Profissional da Saúde:</p>
          <p class="mtb"><strong>{{ receita.profissional.nome }}</strong></p>
          <label>Conselho/CMR: {{ receita.profissional.conselho }}</label>
          <p class="mtb">{{ receita.profissional.ddd_telefone }}</p>
        </div>

        <div class="rodape" style="text-align: center; font-style: italic; font-weight:300;">
          <p>Campus Universitario UFAC, BR - 364, km 04 - Distrito Industrial <br> CEP 69915-900 Telefone: (68) 3229 4835 3901 2573</p>
        </div>
      </div>

    </div>
  </body>
  
</html>