<!-- home.html -->
{% extends "base.html" %}


<style type="text/css">

   style {
       background-color: red;
   }

</style>

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
{#                    <div class="card-header">Entrar no sistema</div>#}
                    <div class="card-body">
                        <div class="jumbotron">
                            <h1>Bem-vindo à Página Inicial</h1>
                            <p>Este é o conteúdo da página inicial</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        .perfil{
            display: none;
        }
    </style>
{% endblock %}
