<nav class="navbar" style=" color: white; padding: 0;">
  {% load static %}

    <div class="header-container" style="width: 100%;">

        <div class="container-fluid">
            <div class="navbar" style="justify-content: normal;">
                <a class="navbar-brand text-white" href="#">
                    <img src="{% static 'imagens/logo_ufac_2.png' %}"/>
                </a>
                <span class="topo">
                    <h4>Sistema Médico Pericial<br>Universidade Federal do Acre</h4>
                </span>
            </div>

            <div class="perfil">
                <div class="card-user">
                    <div class="card_load">
                        <img src="{% static 'imagens/user.png' %}" alt=""/>
                    </div>
                    
                    {# Comentei o código anterior e ajustei para este #}
                    {% if profissional_saude %}
                        <div class="d-flex flex-column" id="card_title">
                            <span class="text-black" style="font-size: 14px; font-weight: bold">
                                {{ profissional_saude.area }}
                                &nbsp;&nbsp;<i class="fa fa-user-md" style="font-size: 18px"></i>
                            </span>
                            <hr style="margin: 3px">
                            <span class="text-black">
                                {{ profissional_saude.nome }}
                            </span>
                        </div>
                    {% elif administrativo %}
                        <div class="d-flex flex-column" id="card_title">
                            <span class="text-black" style="font-size: 14px; font-weight: bold">
                                {{ administrativo.cargo_funcao }}&nbsp;&nbsp;<i class="fa fa-user"></i>
                            </span>
                            <hr style="margin: 3px">
                            <span class="text-black">
                                {{ administrativo.nome }}
                            </span>
                        </div>
                    {% endif %}
                

                    {# {% if profissional_saude %}#}
                    {#     <div class="d-flex align-items-center" id="card_title">#}
                    {#       <span class="text-black"#}
                    {#             style="padding-left: 10px; font-size: 14px;">{{ profissional_saude.area }}</span>#}
                    {#     </div>#}
                    {# {% elif administrativo %}#}
                    {##}
                    {#     <div class="d-flex align-items-center" id="card_title">#}
                    {#       <span class="text-black"#}
                    {#             style="padding-left: 10px; font-size: 14px;">{{ administrativo.cargo_funcao }}</span>#}
                    {#     </div>#}
                    {# {% endif %}#}
                    {##}
                    {# {% if profissional_saude %}#}
                    {#     <div class="d-flex align-items-center" id="card_descripion">#}
                    {#         <span class="text-black" style="padding-left: 10px;">{{ profissional_saude.nome }}</span>#}
                    {#     </div>#}
                    {##}
                    {# {% elif administrativo %}#}
                    {##}
                    {#     <div class="d-flex align-items-center" id="card_descripion">#}
                    {#         <span class="text-black" style="padding-left: 10px;">{{ administrativo.nome }}</span>#}
                    {#     </div>#}
                    {# {% endif %}#}

                </div>

                <ul class="drop">
                    <li><a href="#">Meu perfil&nbsp;&nbsp;<i class="fa fa-user"></i></a></li>

                    <li style="border-radius: 5px;">
                        <a href="{% url 'sair' %}">
                            Sair&nbsp;&nbsp;<i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    
        <nav class="links" style="--items: 5;">
          <a href="{% url 'agendamentoListagem' %}">Agendamentos</a>
          <a href="{% url 'listaAtendimentos' %}">Atendimentos</a>
          <a href="{% url 'administrativoListagem' %}">Administrativo</a>
          <a href="{% url 'pacienteListagem' %}">Pacientes</a>
          <a href="{% url 'profissionaldasaudeListagem' %}">Profissional de Saúde</a>
          <span class="line"></span>
        </nav>
  </div>
  

  <nav class="fixed-menu" style="--items: 5;">
    <a href="{% url 'agendamentoListagem' %}">Agendamentos</a>
    <a href="{% url 'listaAtendimentos' %}">Atendimentos</a>
    <a href="{% url 'administrativoListagem' %}">Administrativo</a>
    <a href="{% url 'pacienteListagem' %}">Pacientes</a>
    <a href="{% url 'profissionaldasaudeListagem' %}">Profissional de Saúde</a>
    <span class="line"></span>
  </nav>
  
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const headerContainer = document.querySelector('.header-container');
    const fixedMenu = document.querySelector('.fixed-menu');
    const headerHeight = headerContainer.offsetHeight;
  
    window.addEventListener('scroll', () => {
      if (window.scrollY > headerHeight) {
        fixedMenu.classList.add('visible'); // Adiciona a classe 'visible' para mostrar o menu
      } else {
        fixedMenu.classList.remove('visible'); // Remove a classe 'visible' para esconder o menu
      }
    });
  });
</script>

<style>

  
</style>